Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, isort, black, flake8, mypy-blue_krill, mypy-paas-service, format, ruff, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        exclude: "^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml"
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"
      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        language: system
        types: [python]
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        entry: poetry run pflake8 --config=pyproject.toml

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-blue_krill
        name: run mypy check for "blue-krill'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/blue-krill/'
      - id: mypy-paas-service
        name: run mypy check for "paas-service'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/paas-service/'
  # sdk bkapi-client-core
  - repo: local
    hooks:
      - id: format
        name: run ruff-formatter for "bkapi-client-core"
        language: python
        types: [python]
        entry: bash -c 'cd sdks/bkapi-client-core/ && ruff format --config=pyproject.toml --force-exclude .'
        files: sdks/bkapi-client-core/
      - id: ruff
        name: run ruff for "bkapi-client-core"
        language: python
        types: [python]
        entry: bash -c 'cd sdks/bkapi-client-core/ && ruff --config=pyproject.toml --force-exclude --fix .'
        files: sdks/bkapi-client-core/
      - id: mypy
        name: run mypy for "bkapi-client-core"
        language: python
        types: [python]
        entry: mypy --config-file=sdks/bkapi-client-core/pyproject.toml
        files: sdks/bkapi-client-core/
  # sdk apigw-manager
  - repo: local
    hooks:
      - id: format
        name: run ruff-formatter for "apigw-manager"
        language: python
        types: [python]
        entry: bash -c 'cd sdks/apigw-manager/ && ruff format --config=pyproject.toml --force-exclude .'
        files: sdks/apigw-manager/
      - id: ruff
        name: run ruff for "apigw-manager"
        language: python
        types: [python]
        entry: bash -c 'cd sdks/apigw-manager/ && ruff --config=pyproject.toml --force-exclude --fix .'
        files: sdks/apigw-manager/
      - id: mypy
        name: run mypy for "apigw-manager"
        language: python
        types: [python]
        entry: mypy --config-file=sdks/apigw-manager/pyproject.toml
        files: sdks/apigw-manager/

rename api_name to gateway_name
  .pre-commit-config.yaml
  sdks/apigw-manager/src/apigw_manager/apigw/authentication.py
  sdks/apigw-manager/src/apigw_manager/apigw/helper.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/add_related_apps.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/apply_apigw_permissions.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/fetch_apigw_public_key.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/grant_apigw_permissions.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_resources.py
  sdks/apigw-manager/src/apigw_manager/core/configuration.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_sync_apigw_resources.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_authentication.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_command.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_helper.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_k8s_helper.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_providers.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_utils.py
  sdks/apigw-manager/tests/apigw_manager/core/conftest.py
  sdks/apigw-manager/tests/conftest.py
  sdks/apigw-manager/tests/demo/test_views.py
Due: IP check, isort, black, flake8, format, ruff, mypy

rename api_name to gateway_name
  sdks/apigw-manager/README.md
  sdks/apigw-manager/README.rst
  sdks/apigw-manager/demo/views.py
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_authentication.py
  sdks/apigw-manager/tests/demo/test_views.py
Due: IP check, isort, black, flake8, format, ruff, mypy

rename api_name to gateway_name
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/src/apigw_manager/apigw/authentication.py
  sdks/apigw-manager/src/apigw_manager/apigw/command.py
  sdks/apigw-manager/src/apigw_manager/apigw/helper.py
  sdks/apigw-manager/src/apigw_manager/apigw/k8s_helper.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/fetch_esb_public_key.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_resources.py
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
  sdks/apigw-manager/src/apigw_manager/core/configuration.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_apply_apigw_permissions.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_authentication.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_command.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_providers.py
  sdks/apigw-manager/tests/apigw_manager/core/test_hander.py
  sdks/bkapi-client-core/CHANGE.md
  sdks/bkapi-client-core/README.md
  sdks/bkapi-client-core/bkapi_client_core/apigateway/client.py
  sdks/bkapi-client-core/class_diagram.md
  sdks/bkapi-client-core/demo/client.py
  sdks/bkapi-client-core/tests/apigateway/test_client.py
  sdks/bkapi-client-core/tests/apigateway/test_django_helper.py
Due: IP check, isort, black, flake8, format, ruff, mypy

修复单元测试
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_apply_apigw_permissions.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_sync_apigw_resources.py
Due: IP check, isort, black, flake8, format, ruff, mypy

更新 bkapi-client-core requirements.txt
  .github/workflows/bkapi-client-core.yml
  sdks/bkapi-client-core/Makefile
  sdks/bkapi-client-core/requirements.txt
  sdks/bkapi-client-core/requirements_dev.txt
  sdks/bkapi-client-core/requirements_tox.txt
Due: IP check

更新 bkapi-client-core requirements.txt
  .github/workflows/bkapi-client-core.yml
  sdks/apigw-manager/README.md
Due: IP check

获取 public_key 缓存时，网关名不应该使用默认网关名
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
Due: IP check, isort, black, flake8, format, ruff, mypy

修改 bkapi-client-core 版本号
  sdks/bkapi-client-core/bkapi_client_core/__init__.py
  sdks/bkapi-client-core/pyproject.toml
Due: IP check, isort, black, flake8, format, ruff, mypy

更新 README.rst
  sdks/apigw-manager/README.rst
Due: IP check

更新 change.log
  sdks/apigw-manager/CHANGE.md
Due: IP check

更新 bkapi-client-core tox 测试
  sdks/bkapi-client-core/Makefile
  sdks/bkapi-client-core/poetry.lock
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkapi-client-core/requirements_dev.txt
  sdks/bkapi-client-core/requirements_tox.txt
Due: IP check

添加获取网关公钥的 readme
  sdks/apigw-manager/README.md
  sdks/apigw-manager/README.rst
  sdks/apigw-manager/src/apigw_manager/apigw/authentication.py
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_authentication.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_providers.py
Due: IP check, isort, black, flake8, format, ruff, mypy

添加获取网关公钥的 readme
  sdks/apigw-manager/README.md
Due: IP check

添加获取网关公钥的 readme
  sdks/apigw-manager/README.rst
Due: IP check

update readme
  sdks/apigw-manager/README.md
  sdks/apigw-manager/README.rst
Due: IP check

Fix linter issues in editionctl
  .pre-commit-config.yaml
  pyproject.toml
  sdks/blue-krill/blue_krill/editions/editionctl.py
Due: IP check, isort, black, flake8, mypy-blue_krill

Remve duplicated ruff config from apigw_manager/bkapi-client-core pyproject.toml
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/bkapi-client-core/poetry.lock
  sdks/bkapi-client-core/pyproject.toml
Due: IP check

优化 readme 文档
  sdks/apigw-manager/README.md
Due: IP check

添加获取网关公钥的 readme (#139)
  sdks/apigw-manager/README.md
  sdks/apigw-manager/README.rst
  sdks/apigw-manager/src/apigw_manager/apigw/authentication.py
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_authentication.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_providers.py
Due: IP check, isort, black, flake8, format, ruff, mypy

Introduce ruff linter to lint all Python packages & remove duplicated ruff configs (#140)
  .pre-commit-config.yaml
  pyproject.toml
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/bkapi-client-core/poetry.lock
  sdks/bkapi-client-core/pyproject.toml
  sdks/blue-krill/blue_krill/editions/editionctl.py
Due: IP check, isort, black, flake8, mypy-blue_krill

refactor: move authentication data to header X-Bkapi-Authorization
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
Due: IP check, isort, black, flake8

更新 readme
  sdks/apigw-manager/README.md
  sdks/apigw-manager/README.rst
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/django/use-custom-script/support-files/bin/sync-apigateway.sh
Due: IP check

更新 readme (#143)
  sdks/apigw-manager/README.md
  sdks/apigw-manager/README.rst
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/django/use-custom-script/support-files/bin/sync-apigateway.sh
Due: IP check

refactor: move authentication data to header X-Bkapi-Authorization (#141)
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
Due: IP check, isort, black, flake8

apigw-manager tag use 3.0.0 instead of latest
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/values.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/Dockerfile
Due: IP check

apigw-manager tag use 3.0.0 instead of latest (#144)
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/values.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/Dockerfile
Due: IP check

chore: update bkpaas-auth version
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
Due: IP check, isort, black, flake8

chore: update bkpaas-auth version (#145)
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
Due: IP check, isort, black, flake8

fix: missing require user params
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
Due: IP check, isort, black, flake8

fix: missing require user params (#146)
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
Due: IP check, isort, black, flake8

fix fetch_esb_public_key command
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/fetch_esb_public_key.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_fetch_esb_public_key.py
Due: IP check, isort, black, flake8, format, ruff, mypy

optimize Command fetch_esb_public_key/fetch_apigw_public_key params
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/fetch_apigw_public_key.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/fetch_esb_public_key.py
Due: IP check, isort, black, flake8, format, ruff, mypy

fix fetch_esb_public_key command (#147)
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/fetch_apigw_public_key.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/fetch_esb_public_key.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_fetch_esb_public_key.py
Due: IP check, isort, black, flake8, format, ruff, mypy

update apigw-manager to 3.0.1
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/values.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/Dockerfile
  sdks/apigw-manager/pyproject.toml
Due: IP check

update apigw-manager to 3.0.1 (#148)
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/values.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/Dockerfile
  sdks/apigw-manager/pyproject.toml
Due: IP check

feat:添加接口，支持通过 name 查询 service_instance # Reviewed, transaction id: 1187
  sdks/paas-service/paas_service/urls.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/tests/conftest.py
  sdks/paas-service/tests/test_apis.py
Due: IP check, isort, black, flake8, mypy-paas-service

feat:添加接口，支持通过 name 查询 service_instance # Reviewed, transaction id: 1191
  sdks/paas-service/paas_service/urls.py
  sdks/paas-service/tests/test_apis.py
Due: IP check, isort, black, flake8, mypy-paas-service

feat:添加接口，支持通过 name 查询 service_instance
  sdks/paas-service/paas_service/urls.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/tests/test_apis.py
Due: IP check, isort, black, flake8, mypy-paas-service
