Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill, mypy-paas-service, mypy

IP check:
  name: Check sensitive info
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude

mypy-blue_krill:
  name: run mypy check for "blue-krill'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"

mypy-paas-service:
  name: run mypy check for "paas-service'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"

mypy:
  name: run mypy for "apigw-manager"
  language: python
  entry: mypy --config-file=sdks/apigw-manager/pyproject.toml

test: fix
  sdks/bkpaas-auth/tests/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

test: minor
  sdks/bkpaas-auth/tests/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

refactor: resolve review comments
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/conf.py
  sdks/bkpaas-auth/bkpaas_auth/core/exceptions.py
  sdks/bkpaas-auth/bkpaas_auth/core/http.py
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/core/user_info.py
  sdks/bkpaas-auth/tests/test_backends.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

refactor: minor
  sdks/bkpaas-auth/README.md
  sdks/bkpaas-auth/README.rst
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

refactor: minor
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/README.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/core/http.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

refactor: minor
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/user.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

refactor: revert get_user_by_user_id func
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/user.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: support tenant mode (#205)
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/README.md
  sdks/bkpaas-auth/README.rst
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/conf.py
  sdks/bkpaas-auth/bkpaas_auth/core/exceptions.py
  sdks/bkpaas-auth/bkpaas_auth/core/http.py
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/core/user_info.py
  sdks/bkpaas-auth/bkpaas_auth/models.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
  sdks/bkpaas-auth/tests/test_backends.py
  sdks/bkpaas-auth/tests/test_middlewares.py
  sdks/bkpaas-auth/tests/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: rename ServiceInstanceRetrieveSLZ to ServiceInstanceQuerySLZ
  sdks/paas-service/paas_service/serializers.py
  sdks/paas-service/paas_service/views.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix(multi-tenant): add tenant_mode/tenant_id for jwt app, and tenant_id for jwt user
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/authentication.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/src/apigw_manager/drf/authentication.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_authentication.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(tenant): add tenant mode/id for jwt app, and tenant_id for jwt user (#206)
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/authentication.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/src/apigw_manager/drf/authentication.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_authentication.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: CHANGES.md
  sdks/paas-service/CHANGES.md
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix: service instance retrieve could filter to_be_delete (#202)
  sdks/paas-service/CHANGES.md
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/paas_service/serializers.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/pyproject.toml
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat: 支持查询待删除的 service instance
  sdks/paas-service/CHANGES.md
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/paas_service/serializers.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/pyproject.toml
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat: 支持查询待删除的 service instance
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat: paas-service plan 支持多租户
  sdks/paas-service/CHANGES.md
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/paas_service/constants.py
  sdks/paas-service/paas_service/migrations/0009_plan_display_name_plan_tenant_id.py
  sdks/paas-service/paas_service/models.py
  sdks/paas-service/pyproject.toml
  sdks/paas-service/setup.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat: paas-service plan 支持多租户
  sdks/paas-service/paas_service/constants.py
  sdks/paas-service/paas_service/fields.py
  sdks/paas-service/paas_service/migrations/0009_alter_plan_unique_together_plan_tenant_id_and_more.py
  sdks/paas-service/paas_service/migrations/0009_plan_display_name_plan_tenant_id.py
  sdks/paas-service/paas_service/models.py
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix:ServiceInstance、ServiceInstanceConfig 添加 tenant_id 字段
  sdks/paas-service/paas_service/migrations/0009_alter_plan_unique_together_plan_tenant_id_and_more.py
  sdks/paas-service/paas_service/models.py
  sdks/paas-service/paas_service/utils.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/tests/conftest.py
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix:ServiceInstance、ServiceInstanceConfig 添加 tenant_id 字段
  sdks/paas-service/paas_service/migrations/0009_alter_plan_unique_together_plan_tenant_id_and_more.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix:ServiceInstance、ServiceInstanceConfig 添加 tenant_id 字段
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix:ServiceInstance、ServiceInstanceConfig 添加 tenant_id 字段
  sdks/paas-service/paas_service/serializers.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix:调整
  sdks/paas-service/paas_service/models.py
  sdks/paas-service/paas_service/serializers.py
  sdks/paas-service/paas_service/utils.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix:调整
  sdks/paas-service/paas_service/migrations/0009_alter_plan_unique_together_plan_tenant_id_and_more.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix:调整
  sdks/paas-service/paas_service/models.py
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix:调整
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat: paas-service plan 支持多租户 (#211)
  sdks/paas-service/CHANGES.md
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/paas_service/constants.py
  sdks/paas-service/paas_service/fields.py
  sdks/paas-service/paas_service/migrations/0009_alter_plan_unique_together_plan_tenant_id_and_more.py
  sdks/paas-service/paas_service/models.py
  sdks/paas-service/paas_service/serializers.py
  sdks/paas-service/paas_service/utils.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/pyproject.toml
  sdks/paas-service/setup.py
  sdks/paas-service/tests/conftest.py
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat(bkpaas-auth): 修复 apigw_manager 的 JWT 中间件新增 tenant_id 参数导致的 JWT 认证失效问题
  sdks/bkpaas-auth/bkpaas_auth/backends.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: 更新 bkpaas-auth 版本到 3.1.1
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: minor
  sdks/bkpaas-auth/bkpaas_auth/backends.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

docs: 优化注释
  sdks/bkpaas-auth/bkpaas_auth/backends.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: add unitest
  sdks/bkpaas-auth/tests/test_backends.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: improve editionctl script, ignore unrelated events, use bouncer when responding to events, and avoid unnecessary file linking
  pyproject.toml
  sdks/blue-krill/blue_krill/data_types/enum.py
  sdks/blue-krill/blue_krill/editions/editionctl.py
  sdks/blue-krill/tests/editions/test_editionctl.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

refactor: fix typo
  sdks/blue-krill/blue_krill/editions/editionctl.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat: improve editionctl script in various ways (#214)
  pyproject.toml
  sdks/blue-krill/blue_krill/data_types/enum.py
  sdks/blue-krill/blue_krill/editions/editionctl.py
  sdks/blue-krill/tests/editions/test_editionctl.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

refactor: upgrade pyproject.toml to follow PEP 621 standard
  sdks/blue-krill/pyproject.toml
Due: IP check

Path conditions:
  IP check: any file but: ^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-blue_krill: any of: ^sdks/blue-krill/ and \.py$
  mypy-paas-service: any of: ^sdks/paas-service/ and \.py$
  mypy: (any of: sdks/bkapi-client-core/ and \.py$) or (any of: sdks/apigw-manager/ and \.py$)
