Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill, mypy-paas-service, mypy

IP check:
  name: Check sensitive info
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude

mypy-blue_krill:
  name: run mypy check for "blue-krill'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"

mypy-paas-service:
  name: run mypy check for "paas-service'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"

mypy:
  name: run mypy for "apigw-manager"
  language: python
  entry: mypy --config-file=sdks/apigw-manager/pyproject.toml

feat(apigw_manager/plugin): 新增4个插件的 build 函数
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: plugin check
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/src/apigw_manager/plugin/constants.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix import
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix break_response_code
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix check
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw_manager/plugin): 新增4个插件的 build 函数 (#222)
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/src/apigw_manager/plugin/constants.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw_manager/plugin): 新增 response_rewrite 和 redirect 插件的 build 函数
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix plugin build
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw_manager/plugin): 新增 response_rewrite 和 redirect 插件的 build 函数 (#223)
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw-manager/definition.yaml): support env vars
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
Due: IP check

feat(apigw-manager/definition.yaml): support env vars (#224)
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
Due: IP check

docs(docs/sync_apigateway.md): update doc for sync_apigateway
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check

docs(docs/sync_apigateway.md): update doc for sync_apigateway (#225)
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check

Update sync_apigateway.md
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check

Update sync_apigateway.md (#226)
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check

feat(apigw_manager/config): add BK_APP_TENANT_ID
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
  sdks/apigw-manager/src/apigw_manager/core/configuration.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_utils.py
  sdks/apigw-manager/tests/apigw_manager/core/test_hander.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

test(apigw_manager): use monkeypatch.setenv
  sdks/apigw-manager/tests/apigw_manager/apigw/test_utils.py
  sdks/apigw-manager/tests/apigw_manager/core/test_hander.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw_manager/config): add BK_APP_TENANT_ID (#227)
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
  sdks/apigw-manager/src/apigw_manager/core/configuration.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_utils.py
  sdks/apigw-manager/tests/apigw_manager/core/test_hander.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

doc: fix gateway grant dimentsion
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check

docs(sdks/apigw-manager): 新增插件补充文档
  sdks/apigw-manager/docs/plugin-use-guide.md
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: docs
  sdks/apigw-manager/docs/plugin-use-guide.md
Due: IP check

docs(sdks/apigw-manager): 新增插件补充文档 (#229)
  sdks/apigw-manager/docs/plugin-use-guide.md
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(bkpaas-auth): 修复通过 APIGatewayAuthBackend 认证无法获取 tenant_id 问题
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: minor
  sdks/bkpaas-auth/CHANGES.md
Due: IP check

fix(bkpaas-auth): 修复通过 APIGatewayAuthBackend 认证无法获取 tenant_id 问题 (#230)
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: service list 接口返回增加 `plan_schema` 字段，以指导服务方案配置
  sdks/paas-service/CHANGES.md
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/paas_service/base_vendor.py
  sdks/paas-service/paas_service/serializers.py
  sdks/paas-service/poetry.lock
  sdks/paas-service/pyproject.toml
  sdks/paas-service/setup.py
  sdks/paas-service/tests/settings.py
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat: service list 接口返回增加 `plan_schema` 字段，以指导服务方案配置
  sdks/paas-service/paas_service/serializers.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat: service list 接口返回增加 `plan_schema` 字段，以指导服务方案配置
  sdks/paas-service/paas_service/base_vendor.py
  sdks/paas-service/paas_service/serializers.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat: service list 接口返回增加 `plan_schema` 字段，以指导服务方案配置
  sdks/paas-service/paas_service/base_vendor.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix: 修复 list_dir 函数在分页查询参数错误的问题
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/bkstorages/__init__.py
  sdks/bk-storages/bkstorages/backends/bkrepo.py
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/tests/test_bkrepo.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: 修复 list_dir 函数在分页查询参数错误的问题 (#235)
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/bkstorages/__init__.py
  sdks/bk-storages/bkstorages/backends/bkrepo.py
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/tests/test_bkrepo.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: 2.0.1 changelog 调整
  sdks/bk-storages/CHANGE.md
Due: IP check

fix: bkstorage 2.0.1 changelog 调整 (#236)
  sdks/bk-storages/CHANGE.md
Due: IP check

fix: EncryptField unable to process values that starts with special header
  sdks/blue-krill/blue_krill/encrypt/handler.py
  sdks/blue-krill/blue_krill/models/fields.py
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/conftest.py
  sdks/blue-krill/tests/models/__init__.py
  sdks/blue-krill/tests/models/apps/__init__.py
  sdks/blue-krill/tests/models/apps/test_encrypt/__init__.py
  sdks/blue-krill/tests/models/apps/test_encrypt/apps.py
  sdks/blue-krill/tests/models/apps/test_encrypt/migrations/0001_initial.py
  sdks/blue-krill/tests/models/apps/test_encrypt/migrations/__init__.py
  sdks/blue-krill/tests/models/apps/test_encrypt/models.py
  sdks/blue-krill/tests/models/test_fields.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

docs: fix comment
  sdks/blue-krill/blue_krill/models/fields.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix:调整
  sdks/paas-service/paas_service/base_vendor.py
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat: service list 接口返回增加 `plan_schema` 字段，以指导服务方案配置 (#233)
  sdks/paas-service/CHANGES.md
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/paas_service/base_vendor.py
  sdks/paas-service/paas_service/serializers.py
  sdks/paas-service/poetry.lock
  sdks/paas-service/pyproject.toml
  sdks/paas-service/setup.py
  sdks/paas-service/tests/settings.py
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

Path conditions:
  IP check: any file but: ^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-blue_krill: any of: ^sdks/blue-krill/ and \.py$
  mypy-paas-service: any of: ^sdks/paas-service/ and \.py$
  mypy: (any of: sdks/bkapi-client-core/ and \.py$) or (any of: sdks/apigw-manager/ and \.py$)
