Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill, mypy-paas-service, mypy

IP check:
  name: Check sensitive info
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude

mypy-blue_krill:
  name: run mypy check for "blue-krill'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"

mypy-paas-service:
  name: run mypy check for "paas-service'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"

mypy:
  name: run mypy for "apigw-manager"
  language: python
  entry: mypy --config-file=sdks/apigw-manager/pyproject.toml

feat: paas-service support py3.11 (#193)
  sdks/paas-service/CHANGES.md
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/paas_service/auth/backends.py
  sdks/paas-service/paas_service/auth/middleware.py
  sdks/paas-service/paas_service/urls.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/poetry.lock
  sdks/paas-service/pyproject.toml
  sdks/paas-service/setup.py
  sdks/paas-service/tests/test_auth.py
  sdks/paas-service/tests/test_login.py
  sdks/paas-service/tests/urls.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

docs: update CHANGE.md
  sdks/bk-storages/CHANGE.md
Due: IP check

feat: update bk-storages to 2.0.0 (#195)
  .github/workflows/bk-storages.yml
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/README.md
  sdks/bk-storages/bkstorages/__init__.py
  sdks/bk-storages/bkstorages/backends/rgw.py
  sdks/bk-storages/bkstorages/utils.py
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/tests/test_bkrepo.py
  sdks/bk-storages/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat(apigw_manager/drf): update to support multiple stages
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_resources_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/sync_drf_apigateway.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/test_generate_resources_yaml.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

build(pyproject.toml): upgrade to 3.1.2
  sdks/apigw-manager/pyproject.toml
Due: IP check

refactor(data/definition.yaml): remove comments
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
Due: IP check

feat(apigw/sync_resource): support doc
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_resources.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_sync_apigw_resources.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw/sync_resource): support doc (#197)
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_resources.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_sync_apigw_resources.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(apigw/sync_resource): fix bug
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_resources.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(apigw/sync_resource): fix bug (#198)
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_resources.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(drf/sync_doc): add doc sync
  sdks/apigw-manager/docs/jwt-explain.md
  sdks/apigw-manager/docs/plugin-use-guide.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/docs/sync_apigateway.md
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/sync_drf_apigateway.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw_manager/drf): update to support multiple stages (#196)
  sdks/apigw-manager/docs/jwt-explain.md
  sdks/apigw-manager/docs/plugin-use-guide.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/docs/sync_apigateway.md
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_resources_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/sync_drf_apigateway.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/test_generate_resources_yaml.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

Update sync_apigateway.md
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check

Update sync_apigateway.md (#199)
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check

feat(apigw-manager/pyproject.toml): drop support for python 3.6/3.7, required python >=3.8, < 3.12
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/requirements_tox.txt
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(workflows/apigw-manager.yml): remove tox-pyenv-redux in github action
  .github/workflows/apigw-manager.yml
Due: IP check

fix(workflows/apigw-manager.yml): update
  .github/workflows/apigw-manager.yml
Due: IP check

fix(pyproject.toml): update pyyaml version to fix tox failure
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/requirements_tox.txt
Due: IP check

fix(pyproject.toml): add support for python 3.12/3.13
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/requirements_tox.txt
  sdks/apigw-manager/tox.ini
Due: IP check

fix(poetry.lock): update
  sdks/apigw-manager/poetry.lock
Due: none

fix(pyproject.toml): remove support for python 3.13
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/requirements_tox.txt
  sdks/apigw-manager/tox.ini
Due: IP check

feat(pyproject.toml): upgrade version to 4.0.0
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
Due: IP check

feat(apigw-manager/pyproject.toml): drop support for python 3.6/3.7, … (#200)
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/requirements_tox.txt
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(bkpaas_auth): 不再对用户 ID 加密
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/core/encoder.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
  sdks/bkpaas-auth/tests/conftest.py
  sdks/bkpaas-auth/tests/core/test_bk_token.py
  sdks/bkpaas-auth/tests/core/test_encoder.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: mypy
  sdks/bkpaas-auth/bkpaas_auth/core/encoder.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

docs: up chagnelog
  sdks/bkpaas-auth/CHANGES.md
Due: IP check

fix: retrive service instance can include to_be_delete = True
  sdks/paas-service/paas_service/views.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix: use slz
  sdks/paas-service/paas_service/serializers.py
  sdks/paas-service/paas_service/views.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix: minor
  sdks/paas-service/paas_service/serializers.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix(apigw_manager): ci failed
  sdks/apigw-manager/Dockerfile
  sdks/apigw-manager/demo/urls.py
  sdks/apigw-manager/src/apigw_manager/apigw/migrations/0001_initial.py
  sdks/apigw-manager/src/apigw_manager/apigw/models.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(apigw_manager): ci failed (#203)
  sdks/apigw-manager/Dockerfile
  sdks/apigw-manager/demo/urls.py
  sdks/apigw-manager/src/apigw_manager/apigw/migrations/0001_initial.py
  sdks/apigw-manager/src/apigw_manager/apigw/models.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(bkpaas_auth): support get tenant_id via bk_token verify
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/models.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: unit test
  sdks/paas-service/paas_service/serializers.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat: support tenant mode
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/conf.py
  sdks/bkpaas-auth/bkpaas_auth/core/exceptions.py
  sdks/bkpaas-auth/bkpaas_auth/core/http.py
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/core/user_info.py
  sdks/bkpaas-auth/bkpaas_auth/models.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
  sdks/bkpaas-auth/tests/test_backends.py
  sdks/bkpaas-auth/tests/test_middlewares.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

refactor: minor
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

refactor: minor
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/conf.py
  sdks/bkpaas-auth/tests/test_backends.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

refactor: resolve review comments
  sdks/bkpaas-auth/bkpaas_auth/core/http.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/tests/test_backends.py
  sdks/bkpaas-auth/tests/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

test: for mypy
  sdks/bkpaas-auth/tests/test_backends.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

Path conditions:
  IP check: any file but: ^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-blue_krill: any of: ^sdks/blue-krill/ and \.py$
  mypy-paas-service: any of: ^sdks/paas-service/ and \.py$
  mypy: (any of: sdks/bkapi-client-core/ and \.py$) or (any of: sdks/apigw-manager/ and \.py$)
