Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill, mypy-paas-service, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        exclude: "^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml"
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix  
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude 
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-blue_krill
        name: run mypy check for "blue-krill'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/blue-krill/'
      - id: mypy-paas-service
        name: run mypy check for "paas-service'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/paas-service/'
  # sdk bkapi-client-core
  - repo: local
    hooks:
      - id: mypy
        name: run mypy for "bkapi-client-core"
        language: python
        types: [python]
        entry: mypy --config-file=sdks/bkapi-client-core/pyproject.toml
        files: sdks/bkapi-client-core/
  # sdk apigw-manager
  - repo: local
    hooks:
      - id: mypy
        name: run mypy for "apigw-manager"
        language: python
        types: [python]
        entry: mypy --config-file=sdks/apigw-manager/pyproject.toml
        files: sdks/apigw-manager/

fix：jwt 修改版本号
  sdks/paas-service/pyproject.toml
Due: IP check

fix：jwt 修改版本号
  sdks/paas-service/CHANGES.md
Due: IP check

fix：jwt 修改版本号
  sdks/paas-service/paas_service/__init__.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

(paas-service 1.1.6) Update: Loosen the version restriction on sub-dep pyjwt (#161)
  sdks/paas-service/CHANGES.md
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix：paas-service 修改版本
  sdks/paas-service/pyproject.toml
Due: IP check

fix: paas-service change version to 1.1.6 (#162)
  sdks/paas-service/pyproject.toml
Due: IP check

Loosen the version constraints of some deps.
  sdks/blue-krill/pyproject.toml
Due: IP check

Fix：支持不配置加密算法类型，使用默认类型 Fernet
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/encrypt/utils.py
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/test_encrypt.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

Fix：EncryptHandler 支持在非 django 中使用
  sdks/blue-krill/blue_krill/encrypt/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

Fix：blue-krill 支持不配置加密算法类型，使用默认类型 Fernet (#164)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/encrypt/utils.py
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/test_encrypt.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

Loosen the version constraints of some deps. (#163)
  sdks/blue-krill/pyproject.toml
Due: IP check

(blue-krill 1.2.x)Fix：blue-krill 支持不配置加密算法类型，使用默认类型 Fernet
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/encrypt/utils.py
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/test_encrypt.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

(blue-krill 1.2.x)Fix：blue-krill 支持不配置加密算法类型，使用默认类型 Fernet (#165)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/encrypt/utils.py
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/test_encrypt.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

docs: apigw add internationalization
  sdks/apigw-manager/README.md
Due: IP check

docs: fix format
  sdks/apigw-manager/README.md
Due: IP check

docs: apigw add internationalization (#166)
  sdks/apigw-manager/README.md
Due: IP check

fix: 修复 APIGatewayAuthBackend 不兼容 ^3.0.0 以上的 apigw_manager
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

minor: update docs
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/setup.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: 修复 APIGatewayAuthBackend 不兼容 ^3.0.0 以上的 apigw_manager (#167)
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix:bkpaas_auth __version__ 同步
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix:bkpaas_auth __version__ 同步 (#168)
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat(apigw_manager): add sync_rest_framework command
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_rest_framework.py
  sdks/apigw-manager/src/apigw_manager/apigw/rest_framework/__init__.py
  sdks/apigw-manager/src/apigw_manager/apigw/rest_framework/authentication.py
  sdks/apigw-manager/src/apigw_manager/apigw/templatetags/__init__.py
  sdks/apigw-manager/src/apigw_manager/apigw/templatetags/apigw_extras.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw_manager): add sync_rest_framework command
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
Due: IP check

feat(apigw_manager): add sync_rest_framework command
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_rest_framework.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw_manager): add sync_rest_framework command
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_rest_framework.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

enhance: bk-storage 支持 python3.11.x
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/bkstorages/__init__.py
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check

enhance: bk-storage 支持 python3.11.x (#170)
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/bkstorages/__init__.py
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check

doc: fix doc
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/plugin-use-guide.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
Due: IP check

feat: apigw manager add plugin use guide (#155)
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/plugin-use-guide.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/resources.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/resources.yaml
Due: IP check

doc: fix apigw stage plugin config
  sdks/apigw-manager/README.md
Due: IP check

doc: fix apigw stage plugin config (#171)
  sdks/apigw-manager/README.md
Due: IP check

doc: support stage backends
  sdks/apigw-manager/README.md
Due: IP check

doc: support stage backends
  sdks/apigw-manager/README.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/resources.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/resources.yaml
Due: IP check

doc: fix cr
  sdks/apigw-manager/README.md
Due: IP check

fix: fix apigw version validate
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix apigw version validate
  sdks/apigw-manager/tests/apigw_manager/apigw/test_utils.py
  sdks/apigw-manager/tests/conftest.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix apigw version validate
  sdks/apigw-manager/tests/apigw_manager/apigw/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy
