Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill, mypy-paas-service, mypy

IP check:
  name: Check sensitive info
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude

mypy-blue_krill:
  name: run mypy check for "blue-krill'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"

mypy-paas-service:
  name: run mypy check for "paas-service'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"

mypy:
  name: run mypy for "apigw-manager"
  language: python
  entry: mypy --config-file=sdks/apigw-manager/pyproject.toml

chore
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix: remove deprecated function tempfile.mktemp
  sdks/blue-krill/tests/storages/conftest.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: update setuptools version yo 78.1.1
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
Due: IP check

Revert "fix: update setuptools version yo 78.1.1"
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
Due: IP check

fix: revert the ipython version change
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
Due: IP check

feat(apigw-manager): 补充 MCP Server 同步接口新增字段
  sdks/apigw-manager/docs/sync_apigateway.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/definition.yaml
  sdks/apigw-manager/examples/django/use-custom-script/support-files/definition.yaml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
Due: IP check

feat: remove the using of pickle(bkpaas-auth)
  sdks/bkpaas-auth/AGENTS.md
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/core/user_info.py
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
  sdks/bkpaas-auth/bkpaas_auth/utils.py
  sdks/bkpaas-auth/tests/core/test_token.py
  sdks/bkpaas-auth/tests/test_backends.py
  sdks/bkpaas-auth/tests/test_middlewares.py
  sdks/bkpaas-auth/tests/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: upgrade pytest to fix github ci
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
Due: IP check

refactor
  sdks/paas-service/paas_service/constants.py
  sdks/paas-service/paas_service/idem_prov.py
  sdks/paas-service/paas_service/migrations/0010_provisionrecord.py
  sdks/paas-service/paas_service/models.py
  sdks/paas-service/paas_service/urls.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/tests/conftest.py
  sdks/paas-service/tests/test_apis.py
  sdks/paas-service/tests/test_idem_prov.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

s
  sdks/paas-service/paas_service/constants.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

chore: update CHANGES.md
  sdks/paas-service/CHANGES.md
Due: IP check

chore
  sdks/paas-service/paas_service/constants.py
  sdks/paas-service/paas_service/idem_prov.py
  sdks/paas-service/paas_service/models.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/tests/conftest.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

test
  sdks/blue-krill/tests/storages/conftest.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

chore: lock 'anyio' version 3.x.x
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check

upgrade pytest version
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check

chore
  sdks/paas-service/CHANGES.md
  sdks/paas-service/paas_service/migrations/0010_provisionrecord.py
  sdks/paas-service/paas_service/models.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

update CHANGES.md
  sdks/paas-service/CHANGES.md
Due: IP check

chore
  sdks/paas-service/paas_service/views.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat: remove the using of pickle(bkpaas-auth) (#266)
  sdks/bkpaas-auth/AGENTS.md
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/core/user_info.py
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
  sdks/bkpaas-auth/bkpaas_auth/utils.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/tests/core/test_token.py
  sdks/bkpaas-auth/tests/test_backends.py
  sdks/bkpaas-auth/tests/test_middlewares.py
  sdks/bkpaas-auth/tests/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

chore: upgrade pytest version
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/storages/conftest.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: remove deprecated function tempfile.mktemp (#268)
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/storages/conftest.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

chore
  sdks/paas-service/paas_service/constants.py
  sdks/paas-service/paas_service/idem_prov.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

chore
  sdks/paas-service/paas_service/urls.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat: 新增幂等创建接口 (#262)
  sdks/paas-service/CHANGES.md
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/paas_service/base_vendor.py
  sdks/paas-service/paas_service/constants.py
  sdks/paas-service/paas_service/idem_prov.py
  sdks/paas-service/paas_service/migrations/0010_provisionrecord.py
  sdks/paas-service/paas_service/models.py
  sdks/paas-service/paas_service/urls.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/pyproject.toml
  sdks/paas-service/tests/conftest.py
  sdks/paas-service/tests/test_apis.py
  sdks/paas-service/tests/test_idem_prov.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

chore: bump paas-auth to 3.2.1
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

chore: bump paas-auth to 3.2.1 (#269)
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix CHANGES.md
  sdks/paas-service/CHANGES.md
Due: IP check

fix: CHANGES.md (#270)
  sdks/paas-service/CHANGES.md
Due: IP check

chore: add github action file for paas-service(build only)
  .github/workflows/paas-service.yml
Due: IP check

chore: add github action file for paas-service(build only) (#271)
  .github/workflows/paas-service.yml
Due: IP check

feat: update min-python version >= 3.9, setuptools to 78.1.1 (#263)
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/Makefile
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/requirements_tox.txt
  sdks/apigw-manager/tox.ini
Due: IP check

feat: update werkzeug from 3.1.4/3.0.4 to 3.1.8
  sdks/bk-storages/poetry.lock
  sdks/blue-krill/poetry.lock
Due: none

fix: update pyjwt to 2.12.1
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
  sdks/paas-service/poetry.lock
  sdks/paas-service/pyproject.toml
Due: IP check

fix: update cryptography to >= 46.0.7
  sdks/apigw-manager/poetry.lock
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check

fix: update pyasn1 to 0.6.3
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/requirements_tox.txt
Due: IP check

test: fix ci test
  .ci/blue-krill.yml
  .github/workflows/blue-krill.yml
Due: IP check

test: bk-storages 的 python 最小依赖修改为 3.10
  sdks/bk-storages/noxfile.py
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: update pytest to 7.4.4
  .github/workflows/bk-storages.yml
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
Due: IP check

Revert "fix: update pytest to 7.4.4"
  .github/workflows/bk-storages.yml
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
Due: IP check

Path conditions:
  IP check: any file but: ^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-blue_krill: any of: ^sdks/blue-krill/ and \.py$
  mypy-paas-service: any of: ^sdks/paas-service/ and \.py$
  mypy: (any of: sdks/bkapi-client-core/ and \.py$) or (any of: sdks/apigw-manager/ and \.py$)
