Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, isort, black, flake8, mypy-blue_krill, mypy-paas-service

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        exclude: "^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml"
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"
      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        language: system
        types: [python]
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        entry: poetry run pflake8 --config=pyproject.toml

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-blue_krill
        name: run mypy check for "blue-krill'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/blue-krill/'
      - id: mypy-paas-service
        name: run mypy check for "paas-service'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/paas-service/'

fix:在使用django setting配置时，encrypt handler动态切换配置 (#126)
  sdks/blue-krill/blue_krill/encrypt/handler.py
  sdks/blue-krill/tests/test_encrypt.py
Due: IP check, isort, black, flake8, mypy-blue_krill

doc:change logs
  sdks/blue-krill/CHANGE.md
Due: IP check

doc:change logs (#127)
  sdks/blue-krill/CHANGE.md
Due: IP check

fix: blue-krill build workflow does not work beacuse spelling error
  .github/workflows/blue-krill.yml
Due: IP check

fix: blue-krill build workflow does not work beacuse spelling error (#128)
  .github/workflows/blue-krill.yml
Due: IP check

fix:blue-krill version in pyproject.toml
  sdks/blue-krill/pyproject.toml
Due: IP check

fix:blue-krill version in pyproject.toml (#129)
  sdks/blue-krill/pyproject.toml
Due: IP check

Fix: configure the correct SM4 encryption algorithm
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/encrypt/handler.py
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/test_encrypt.py
Due: IP check, isort, black, flake8, mypy-blue_krill

Fix: configure the correct SM4 encryption algorithm (#130)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/encrypt/handler.py
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/test_encrypt.py
Due: IP check, isort, black, flake8, mypy-blue_krill

Update metainfo of every package, fix #1
  sdks/apigw-manager/pyproject.toml
  sdks/bk-storages/pyproject.toml
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkapi-component-open/setup.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/blue-krill/README.md
  sdks/blue-krill/pyproject.toml
  sdks/paas-service/pyproject.toml
Due: IP check, isort, black, flake8

Change authors field to compat with poetry
  sdks/apigw-manager/pyproject.toml
  sdks/bk-storages/pyproject.toml
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkpaas-auth/pyproject.toml
  sdks/blue-krill/pyproject.toml
  sdks/paas-service/pyproject.toml
Due: IP check

minor: 修改 blue-krill ci 运行的基础镜像
  .ci/blue-krill.yml
Due: IP check

minor: 修改 blue-krill ci 运行的基础镜像 (#132)
  .ci/blue-krill.yml
Due: IP check

Remove or mask sensitive data in logging
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/core/http.py
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/monkey.py
  sdks/bkpaas-auth/bkpaas_auth/utils.py
  sdks/bkpaas-auth/tests/conftest.py
  sdks/bkpaas-auth/tests/test_utils.py
Due: IP check, isort, black, flake8

Update metainfo of every package, fix #1 (#131)
  sdks/apigw-manager/pyproject.toml
  sdks/bk-storages/pyproject.toml
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkapi-component-open/setup.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/blue-krill/README.md
  sdks/blue-krill/pyproject.toml
  sdks/paas-service/pyproject.toml
Due: IP check, isort, black, flake8

bkpaas-auth: Remove or mask sensitive data in the logging messages (#133)
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/core/http.py
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/monkey.py
  sdks/bkpaas-auth/bkpaas_auth/utils.py
  sdks/bkpaas-auth/tests/conftest.py
  sdks/bkpaas-auth/tests/test_utils.py
Due: IP check, isort, black, flake8

add examples
  sdks/apigw-manager/Dockerfile
  sdks/apigw-manager/demo/bin/functions
  sdks/apigw-manager/demo/bin/sync-apigateway
  sdks/apigw-manager/examples/README.md
  sdks/apigw-manager/examples/custom-docker/Dockerfile
  sdks/apigw-manager/examples/custom-docker/README.md
  sdks/apigw-manager/examples/custom-docker/bin/sync-apigateway
  sdks/apigw-manager/examples/custom-docker/support-files/apidocs/en/anything.md
  sdks/apigw-manager/examples/custom-docker/support-files/apidocs/zh/anything.md
  sdks/apigw-manager/examples/custom-docker/support-files/definition.yaml
  sdks/apigw-manager/examples/custom-docker/support-files/resources.yaml
  sdks/apigw-manager/examples/python-script/README.md
  sdks/apigw-manager/examples/python-script/bin/sync-apigateway
  sdks/apigw-manager/examples/python-script/support-files/apidocs/en/anything.md
  sdks/apigw-manager/examples/python-script/support-files/apidocs/zh/anything.md
  sdks/apigw-manager/examples/python-script/support-files/definition.yaml
  sdks/apigw-manager/examples/python-script/support-files/resources.yaml
  sdks/apigw-manager/src/apigw_manager/apigw/command.py
Due: IP check, isort, black, flake8

更新 readme.md
  sdks/apigw-manager/README.md
  sdks/apigw-manager/definition.yaml
  sdks/apigw-manager/examples/python-script/bin/sync-apigateway
Due: IP check

优化 relead.md
  sdks/apigw-manager/Dockerfile
  sdks/apigw-manager/README.md
  sdks/apigw-manager/examples/custom-docker/Dockerfile
Due: IP check

优化 relead.md
  sdks/apigw-manager/README.md
  sdks/apigw-manager/examples/chart-custom-docker/Dockerfile
  sdks/apigw-manager/examples/chart-custom-docker/README.md
  sdks/apigw-manager/examples/chart-custom-docker/support-files/apidocs/en/anything.md
  sdks/apigw-manager/examples/chart-custom-docker/support-files/apidocs/zh/anything.md
  sdks/apigw-manager/examples/chart-custom-docker/support-files/bin/sync-apigateway
  sdks/apigw-manager/examples/chart-custom-docker/support-files/definition.yaml
  sdks/apigw-manager/examples/chart-custom-docker/support-files/resources.yaml
  sdks/apigw-manager/examples/custom-docker/Dockerfile
  sdks/apigw-manager/examples/django-custom-script/README.md
  sdks/apigw-manager/examples/django-custom-script/support-files/apidocs/en/anything.md
  sdks/apigw-manager/examples/django-custom-script/support-files/apidocs/zh/anything.md
  sdks/apigw-manager/examples/django-custom-script/support-files/bin/sync-apigateway
  sdks/apigw-manager/examples/django-custom-script/support-files/definition.yaml
  sdks/apigw-manager/examples/django-custom-script/support-files/resources.yaml
Due: IP check

优化 relead.md
  sdks/apigw-manager/README.md
Due: IP check

优化 relead.md
  sdks/apigw-manager/Dockerfile
  sdks/apigw-manager/README.md
  sdks/apigw-manager/examples/README.md
  sdks/apigw-manager/examples/chart-configmap/Chart.yaml
  sdks/apigw-manager/examples/chart-configmap/files/support-files/apidocs/en/anything.md
  sdks/apigw-manager/examples/chart-configmap/files/support-files/apidocs/zh/anything.md
  sdks/apigw-manager/examples/chart-configmap/files/support-files/bin/sync-apigateway
  sdks/apigw-manager/examples/chart-configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart-configmap/files/support-files/resources.yaml
  sdks/apigw-manager/examples/chart-configmap/templates/_helpers.tpl
  sdks/apigw-manager/examples/chart-configmap/templates/sync-apigateway-configmap.yaml
  sdks/apigw-manager/examples/chart-configmap/templates/sync-apigateway-job.yaml
  sdks/apigw-manager/examples/chart-configmap/values.yaml
  sdks/apigw-manager/examples/chart-custom-docker/Dockerfile
  sdks/apigw-manager/examples/chart-custom-docker/README.md
  sdks/apigw-manager/examples/chart-custom-docker/bk-demo-chart/Chart.yaml
  sdks/apigw-manager/examples/chart-custom-docker/bk-demo-chart/templates/_helpers.tpl
  sdks/apigw-manager/examples/chart-custom-docker/bk-demo-chart/templates/sync-apigateway-job.yaml
  sdks/apigw-manager/examples/chart-custom-docker/bk-demo-chart/values.yaml
  sdks/apigw-manager/examples/django-custom-script/README.md
  sdks/apigw-manager/examples/django-custom-script/support-files/definition.yaml
Due: IP check

优化 relead.md
  sdks/apigw-manager/definition.yaml
Due: IP check

优化 relead.md
  sdks/apigw-manager/README.md
  sdks/apigw-manager/examples/chart-configmap/templates/sync-apigateway-job.yaml
  sdks/apigw-manager/examples/chart-custom-docker/Dockerfile
  sdks/apigw-manager/examples/chart-custom-docker/bk-demo-chart/templates/sync-apigateway-job.yaml
Due: IP check

优化 bkapi-client-core 异常消息
  sdks/bkapi-client-core/Makefile
  sdks/bkapi-client-core/README.md
  sdks/bkapi-client-core/bkapi_client_core/client.py
  sdks/bkapi-client-core/bkapi_client_core/config.py
  sdks/bkapi-client-core/bkapi_client_core/django_helper.py
  sdks/bkapi-client-core/bkapi_client_core/exceptions.py
  sdks/bkapi-client-core/bkapi_client_core/utils.py
  sdks/bkapi-client-core/poetry.lock
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkapi-client-core/requirements.txt
  sdks/bkapi-client-core/tests/test_config.py
  sdks/bkapi-client-core/tests/test_django_helper.py
Due: IP check, isort, black, flake8

修复单元测试
  sdks/bkapi-client-core/bkapi_client_core/client.py
  sdks/bkapi-client-core/tests/test_client.py
  sdks/bkapi-client-core/tests/test_exceptions.py
  sdks/bkapi-client-core/tests/test_utils.py
Due: IP check, isort, black, flake8

add check_response_status/check_response_apigateway_error
  sdks/bkapi-client-core/bkapi_client_core/client.py
  sdks/bkapi-client-core/tests/test_client.py
Due: IP check, isort, black, flake8

更新 change.log
  sdks/bkapi-client-core/CHANGE.md
  sdks/bkapi-client-core/bkapi_client_core/__init__.py
  sdks/bkapi-client-core/bkapi_client_core/client.py
  sdks/bkapi-client-core/bkapi_client_core/exceptions.py
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkapi-client-core/tests/test_exceptions.py
Due: IP check, isort, black, flake8

提取方法 _check_response_json
  sdks/bkapi-client-core/bkapi_client_core/client.py
Due: IP check, isort, black, flake8

不暴露 check_response_status
  sdks/bkapi-client-core/CHANGE.md
  sdks/bkapi-client-core/bkapi_client_core/client.py
  sdks/bkapi-client-core/tests/test_client.py
Due: IP check, isort, black, flake8

lint
  sdks/bkapi-client-core/bkapi_client_core/client.py
  sdks/bkapi-client-core/demo/shortcuts.py
  sdks/bkapi-client-core/tests/test_client.py
  sdks/bkapi-client-core/tests/test_exceptions.py
  sdks/bkapi-client-core/tests/test_utils.py
Due: IP check, isort, black, flake8

curl 中添加请求头，但是去除其中的敏感信息
  sdks/bkapi-client-core/bkapi_client_core/utils.py
  sdks/bkapi-client-core/tests/test_utils.py
Due: IP check, isort, black, flake8

更新 change.log
  sdks/bkapi-client-core/CHANGE.md
  sdks/bkapi-client-core/bkapi_client_core/utils.py
Due: IP check, isort, black, flake8

优化错误消息
  sdks/bkapi-client-core/bkapi_client_core/client.py
Due: IP check, isort, black, flake8

优化请求 bk-apigateway 接口失败时，打印的错误消息
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/command.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/fetch_apigw_public_key.py
  sdks/apigw-manager/src/apigw_manager/core/exceptions.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/tests/apigw_manager/core/test_hander.py
Due: IP check, isort, black, flake8

add command add_related_apps
  sdks/apigw-manager/definition.yaml
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/add_related_apps.py
  sdks/apigw-manager/src/apigw_manager/core/sync.py
Due: IP check, isort, black, flake8

update change.md
  sdks/apigw-manager/CHANGE.md
Due: IP check

add grant_dimension to definition.yaml
  sdks/apigw-manager/definition.yaml
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/grant_apigw_permissions.py
Due: IP check, isort, black, flake8
