Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill, mypy-paas-service, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        exclude: "^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml"
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix  
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude 
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-blue_krill
        name: run mypy check for "blue-krill'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/blue-krill/'
      - id: mypy-paas-service
        name: run mypy check for "paas-service'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/paas-service/'
  # sdk bkapi-client-core
  - repo: local
    hooks:
      - id: mypy
        name: run mypy for "bkapi-client-core"
        language: python
        types: [python]
        entry: mypy --config-file=sdks/bkapi-client-core/pyproject.toml
        files: sdks/bkapi-client-core/
  # sdk apigw-manager
  - repo: local
    hooks:
      - id: mypy
        name: run mypy for "apigw-manager"
        language: python
        types: [python]
        entry: mypy --config-file=sdks/apigw-manager/pyproject.toml
        files: sdks/apigw-manager/

fix: fix test
  sdks/apigw-manager/tests/conftest.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix github action
  .github/workflows/apigw-manager.yml
Due: IP check

feat: add change log
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
Due: IP check

fix: fix apigw version validate (#173)
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

doc: support stage backends (#172)
  sdks/apigw-manager/README.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/resources.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/resources.yaml
Due: IP check

feat: apigw-manager support stages
  sdks/apigw-manager/Makefile
  sdks/apigw-manager/README.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/django/use-custom-script/support-files/definition.yaml
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/requirements_tox.txt
  sdks/apigw-manager/src/apigw_manager/apigw/helper.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_stage.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat: apigw-manager support stages
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
Due: IP check

feat: fix requirements
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/requirements_tox.txt
Due: IP check

feat: fix requirements
  sdks/apigw-manager/Makefile
Due: IP check

fix: fix cr
  sdks/apigw-manager/README.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/definition.yaml
  sdks/apigw-manager/examples/django/use-custom-script/support-files/definition.yaml
  sdks/apigw-manager/src/apigw_manager/apigw/helper.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: remove some config
  sdks/apigw-manager/README.md
  sdks/apigw-manager/README.rst
Due: IP check

fix: fix
  sdks/apigw-manager/src/apigw_manager/apigw/helper.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix
  sdks/apigw-manager/README.md
Due: IP check

feat: apigw-manager support stages (#174)
  sdks/apigw-manager/README.md
  sdks/apigw-manager/README.rst
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/definition.yaml
  sdks/apigw-manager/examples/django/use-custom-script/support-files/definition.yaml
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/helper.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_stage.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

doc: fix image version
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/values.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/Dockerfile
Due: IP check

doc: fix image version (#175)
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/values.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/Dockerfile
Due: IP check

fix: fix esb jwt get iss
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix esb jwt get iss (#176)
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix esb jwt get iss (#177)
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw_manager/drf): add application drf for apigw_manager
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/requirements_tox.txt
  sdks/apigw-manager/src/apigw_manager/drf/__init__.py
  sdks/apigw-manager/src/apigw_manager/drf/apps.py
  sdks/apigw-manager/src/apigw_manager/drf/authentication.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_definition_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_resources_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/sync_apigateway.py
  sdks/apigw-manager/src/apigw_manager/drf/migrations/__init__.py
  sdks/apigw-manager/src/apigw_manager/drf/permission.py
  sdks/apigw-manager/src/apigw_manager/drf/scheme.py
  sdks/apigw-manager/src/apigw_manager/drf/tests.py
  sdks/apigw-manager/src/apigw_manager/drf/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

test(apigw-manager/drf): add unittests
  sdks/apigw-manager/src/apigw_manager/drf/__init__.py
  sdks/apigw-manager/src/apigw_manager/drf/authentication.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_definition_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_resources_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/sync_apigateway.py
  sdks/apigw-manager/src/apigw_manager/drf/permission.py
  sdks/apigw-manager/src/apigw_manager/drf/scheme.py
  sdks/apigw-manager/src/apigw_manager/drf/tests.py
  sdks/apigw-manager/src/apigw_manager/drf/utils.py
  sdks/apigw-manager/tests/apigw_manager/drf/__init__.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_authentication.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_permission.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_scheme.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(ci): fix github actions fail
  sdks/apigw-manager/Makefile
  sdks/apigw-manager/requirements_tox.txt
Due: IP check

test(apigw-manager/drf): add more tests
  sdks/apigw-manager/tests/apigw_manager/drf/management/__init__.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/__init__.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/test_generate_resources_yaml.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_authentication.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(codereview): cr comments
  sdks/apigw-manager/src/apigw_manager/__init__.py
  sdks/apigw-manager/src/apigw_manager/drf/__init__.py
  sdks/apigw-manager/src/apigw_manager/drf/apps.py
  sdks/apigw-manager/src/apigw_manager/drf/authentication.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_definition_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_resources_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/sync_apigateway.py
  sdks/apigw-manager/src/apigw_manager/drf/migrations/__init__.py
  sdks/apigw-manager/src/apigw_manager/drf/permission.py
  sdks/apigw-manager/src/apigw_manager/drf/scheme.py
  sdks/apigw-manager/src/apigw_manager/drf/utils.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/test_generate_resources_yaml.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_authentication.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(cr): comments
  sdks/apigw-manager/src/apigw_manager/drf/authentication.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_definition_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_resources_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/sync_apigateway.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(cr): fix comments
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_definition_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/sync_drf_apigateway.py
  sdks/apigw-manager/src/apigw_manager/drf/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw_manager/plugin): add plugin support
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_definition_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_resources_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/utils.py
  sdks/apigw-manager/src/apigw_manager/plugin/__init__.py
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw_manager/plugin): add funcs for generate plugin_config
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/src/apigw_manager/plugin/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

test(apigw_manager/plugin): add unittests
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/src/apigw_manager/plugin/utils.py
  sdks/apigw-manager/tests/apigw_manager/drf/__init__.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/__init__.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/__init__.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/test_generate_resources_yaml.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_authentication.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_permission.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_scheme.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_utils.py
  sdks/apigw-manager/tests/apigw_manager/plugin/__init__.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

add application drf for apigw-manager (#178)
  sdks/apigw-manager/Makefile
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/requirements_tox.txt
  sdks/apigw-manager/src/apigw_manager/drf/__init__.py
  sdks/apigw-manager/src/apigw_manager/drf/apps.py
  sdks/apigw-manager/src/apigw_manager/drf/authentication.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_definition_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_resources_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/sync_drf_apigateway.py
  sdks/apigw-manager/src/apigw_manager/drf/migrations/__init__.py
  sdks/apigw-manager/src/apigw_manager/drf/permission.py
  sdks/apigw-manager/src/apigw_manager/drf/scheme.py
  sdks/apigw-manager/src/apigw_manager/drf/utils.py
  sdks/apigw-manager/src/apigw_manager/plugin/__init__.py
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/src/apigw_manager/plugin/utils.py
  sdks/apigw-manager/tests/apigw_manager/__init__.py
  sdks/apigw-manager/tests/apigw_manager/drf/__init__.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/__init__.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/__init__.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/test_generate_resources_yaml.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_authentication.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_permission.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_scheme.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_utils.py
  sdks/apigw-manager/tests/apigw_manager/plugin/__init__.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

tiny: loosen the version restriction on sub-dep dataclasses
  sdks/blue-krill/pyproject.toml
Due: IP check

tiny: update version related files
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

doc: opt apigw doc
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/images/bk-apigw-jwt.png
  sdks/apigw-manager/docs/jwt-explain.md
  sdks/apigw-manager/docs/sync_apigw.md
Due: IP check

doc: opt apigw doc
  sdks/apigw-manager/README.md
Due: IP check

doc: opt apigw doc
  sdks/apigw-manager/docs/images/jwt.png
Due: IP check

fix: fix md format
  sdks/apigw-manager/docs/jwt-explain.md
Due: IP check

fix: fix md format
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/jwt-explain.md
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check

fix: fix md format
  sdks/apigw-manager/README.md
Due: IP check

doc: opt apigw doc (#181)
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/images/jwt.png
  sdks/apigw-manager/docs/jwt-explain.md
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check
