Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill, mypy-paas-service, mypy

IP check:
  name: Check sensitive info
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude

mypy-blue_krill:
  name: run mypy check for "blue-krill'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"

mypy-paas-service:
  name: run mypy check for "paas-service'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"

mypy:
  name: run mypy for "apigw-manager"
  language: python
  entry: mypy --config-file=sdks/apigw-manager/pyproject.toml

refactor(bkpaas-auth): remove unused BaseBackend import from test_backends
  sdks/bkpaas-auth/tests/test_backends.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: bump to 4.3.0 and support django async (#306)
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/README.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/core/http.py
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
  sdks/bkpaas-auth/bkpaas_auth/monkey.py
  sdks/bkpaas-auth/noxfile.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/tests/conftest.py
  sdks/bkpaas-auth/tests/core/test_bk_token.py
  sdks/bkpaas-auth/tests/core/test_http.py
  sdks/bkpaas-auth/tests/core/test_services.py
  sdks/bkpaas-auth/tests/core/test_token.py
  sdks/bkpaas-auth/tests/test_backends.py
  sdks/bkpaas-auth/tests/test_middlewares.py
  sdks/bkpaas-auth/tests/test_misc.py
  sdks/bkpaas-auth/tests/test_models.py
  sdks/bkpaas-auth/tests/test_monkey.py
  sdks/bkpaas-auth/tests/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix(paas-service): fix: replace models.UUIDField with Char32UUIDField for MariaDB compatibility
  sdks/paas-service/paas_service/migrations/0011_alter_plan_uuid_alter_provisionrecord_uuid_and_more.py
  sdks/paas-service/paas_service/models.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat: update version
  sdks/paas-service/CHANGES.md
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat(bkpaas-auth): add PEP 561 type hints and py.typed marker
  sdks/bkpaas-auth/AGENTS.md
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/conf.py
  sdks/bkpaas-auth/bkpaas_auth/core/algorithms.py
  sdks/bkpaas-auth/bkpaas_auth/core/constants.py
  sdks/bkpaas-auth/bkpaas_auth/core/encoder.py
  sdks/bkpaas-auth/bkpaas_auth/core/http.py
  sdks/bkpaas-auth/bkpaas_auth/core/plugins.py
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/core/user_info.py
  sdks/bkpaas-auth/bkpaas_auth/core/utils.py
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
  sdks/bkpaas-auth/bkpaas_auth/models.py
  sdks/bkpaas-auth/bkpaas_auth/monkey.py
  sdks/bkpaas-auth/bkpaas_auth/py.typed
  sdks/bkpaas-auth/bkpaas_auth/utils.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/tests/test_misc.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix(bkpaas-auth): harden user info resolution and type checks
  .github/workflows/bkpaas-auth.yml
  sdks/bkpaas-auth/AGENTS.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/conf.py
  sdks/bkpaas-auth/bkpaas_auth/core/user_info.py
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
  sdks/bkpaas-auth/bkpaas_auth/models.py
  sdks/bkpaas-auth/bkpaas_auth/utils.py
  sdks/bkpaas-auth/tests/test_misc.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix(apigw-manager): support paginated resource versions
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(bkpaas-auth): add type contracts for public APIs
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/conf.py
  sdks/bkpaas-auth/bkpaas_auth/core/http.py
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/core/user_info.py
  sdks/bkpaas-auth/bkpaas_auth/models.py
  sdks/bkpaas-auth/bkpaas_auth/utils.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/tests/core/test_http.py
  sdks/bkpaas-auth/tests/test_models.py
  sdks/bkpaas-auth/tests/typecheck_public_api.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

chore(bkpaas-auth): release 4.4.0
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat(bkpaas-auth): add PEP 561 type hints and py.typed marker (#308)
  .github/workflows/bkpaas-auth.yml
  sdks/bkpaas-auth/AGENTS.md
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/conf.py
  sdks/bkpaas-auth/bkpaas_auth/core/algorithms.py
  sdks/bkpaas-auth/bkpaas_auth/core/constants.py
  sdks/bkpaas-auth/bkpaas_auth/core/encoder.py
  sdks/bkpaas-auth/bkpaas_auth/core/http.py
  sdks/bkpaas-auth/bkpaas_auth/core/plugins.py
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/core/user_info.py
  sdks/bkpaas-auth/bkpaas_auth/core/utils.py
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
  sdks/bkpaas-auth/bkpaas_auth/models.py
  sdks/bkpaas-auth/bkpaas_auth/monkey.py
  sdks/bkpaas-auth/bkpaas_auth/py.typed
  sdks/bkpaas-auth/bkpaas_auth/utils.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/tests/core/test_http.py
  sdks/bkpaas-auth/tests/test_misc.py
  sdks/bkpaas-auth/tests/test_models.py
  sdks/bkpaas-auth/tests/typecheck_public_api.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix(apigw-manager): support paginated resource versions (#309)
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw-manager): support OAuth2 personal client sync (#310)
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/docs/sync_apigateway.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/resources.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/resources.yaml
  sdks/apigw-manager/examples/django/use-custom-script/support-files/definition.yaml
  sdks/apigw-manager/examples/django/use-custom-script/support-files/resources.yaml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
  sdks/apigw-manager/src/apigw_manager/drf/utils.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/test_generate_definition_yaml.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw-manager): emit is_official in gateway definitions
  sdks/apigw-manager/README.md
  sdks/apigw-manager/README.rst
  sdks/apigw-manager/docs/sync_apigateway.md
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/test_generate_definition_yaml.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

docs(apigw-manager): clarify boolean official gateway setting
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/test_generate_definition_yaml.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(apigw-manager): explicitly support boolean official setting
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
Due: IP check

docs(apigw-manager): document AI gateway names (#305)
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check

chore(apigw-manager): prepare 5.0.2 release
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
Due: IP check

chore(apigw-manager): prepare 5.0.2 release (#312)
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
Due: IP check

feat(apigw-manager): support KMS image credentials in 5.0.3
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/Dockerfile
  sdks/apigw-manager/demo/kms.py
  sdks/apigw-manager/demo/settings.py
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/tests/demo/test_kms.py
  sdks/apigw-manager/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw-manager): support KMS image credentials in 5.0.3 (#313)
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/Dockerfile
  sdks/apigw-manager/demo/kms.py
  sdks/apigw-manager/demo/settings.py
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/tests/demo/test_kms.py
  sdks/apigw-manager/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

Path conditions:
  IP check: any file but: ^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-blue_krill: any of: ^sdks/blue-krill/ and \.py$
  mypy-paas-service: any of: ^sdks/paas-service/ and \.py$
  mypy: (any of: sdks/bkapi-client-core/ and \.py$) or (any of: sdks/apigw-manager/ and \.py$)
