Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, isort, black, flake8, mypy-blue_krill, mypy-paas-service

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        exclude: "^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml"
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"
      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        language: system
        types: [python]
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        entry: poetry run pflake8 --config=pyproject.toml

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-blue_krill
        name: run mypy check for "blue-krill'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/blue-krill/'
      - id: mypy-paas-service
        name: run mypy check for "paas-service'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/paas-service/'

add spec_version to definition.yaml
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/definition.yaml
  sdks/apigw-manager/src/apigw_manager/apigw/helper.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/add_related_apps.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/grant_apigw_permissions.py
Due: IP check, isort, black, flake8

优化 reamd.md
  sdks/apigw-manager/Dockerfile
  sdks/apigw-manager/README.md
  sdks/apigw-manager/bin/apigw-manager
  sdks/apigw-manager/bin/functions
  sdks/apigw-manager/bin/sync-apigateway
  sdks/apigw-manager/definition.yaml
  sdks/apigw-manager/demo/bin/apigw-manager
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart-configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart-configmap/templates/sync-apigateway-job.yaml
  sdks/apigw-manager/examples/chart-custom-docker/bk-demo-chart/templates/sync-apigateway-job.yaml
  sdks/apigw-manager/examples/chart-custom-docker/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/django-custom-script/support-files/bin/sync-apigateway.sh
Due: IP check

优化 reamd.md
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart-custom-docker/README.md
  sdks/apigw-manager/examples/chart/configmap/Chart.yaml
  sdks/apigw-manager/examples/chart/configmap/files/support-files/apidocs/en/anything.md
  sdks/apigw-manager/examples/chart/configmap/files/support-files/apidocs/zh/anything.md
  sdks/apigw-manager/examples/chart/configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/configmap/files/support-files/resources.yaml
  sdks/apigw-manager/examples/chart/configmap/templates/_helpers.tpl
  sdks/apigw-manager/examples/chart/configmap/templates/sync-apigateway-configmap.yaml
  sdks/apigw-manager/examples/chart/configmap/templates/sync-apigateway-job.bak2.yaml
  sdks/apigw-manager/examples/chart/configmap/templates/sync-apigateway-job.yaml
  sdks/apigw-manager/examples/chart/configmap/values.yaml
  sdks/apigw-manager/examples/chart/custom-docker/Dockerfile
  sdks/apigw-manager/examples/chart/custom-docker/README.md
  sdks/apigw-manager/examples/chart/custom-docker/bk-demo-chart/Chart.yaml
  sdks/apigw-manager/examples/chart/custom-docker/bk-demo-chart/templates/_helpers.tpl
  sdks/apigw-manager/examples/chart/custom-docker/bk-demo-chart/templates/sync-apigateway-job.yaml
  sdks/apigw-manager/examples/chart/custom-docker/bk-demo-chart/values.yaml
  sdks/apigw-manager/examples/chart/custom-docker/support-files/apidocs/en/anything.md
  sdks/apigw-manager/examples/chart/custom-docker/support-files/apidocs/zh/anything.md
  sdks/apigw-manager/examples/chart/custom-docker/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/custom-docker/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/custom-docker/support-files/resources.yaml
  sdks/apigw-manager/examples/django/custom-script/support-files/apidocs/en/anything.md
  sdks/apigw-manager/examples/django/custom-script/support-files/apidocs/zh/anything.md
  sdks/apigw-manager/examples/django/custom-script/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/django/custom-script/support-files/definition.yaml
  sdks/apigw-manager/examples/django/custom-script/support-files/resources.yaml
Due: IP check

up
  sdks/apigw-manager/examples/chart/configmap/templates/sync-apigateway-job.bak2.yaml
Due: IP check

优化 readme
  sdks/apigw-manager/README.md
  sdks/apigw-manager/README.rst
  sdks/apigw-manager/bin/apigw-manager.sh
  sdks/apigw-manager/bin/functions.sh
  sdks/apigw-manager/bin/sync-apigateway.sh
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/configmap/files/support-files/apidocs/en/anything.md
  sdks/apigw-manager/examples/chart/configmap/files/support-files/apidocs/zh/anything.md
  sdks/apigw-manager/examples/chart/configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/configmap/files/support-files/resources.yaml
  sdks/apigw-manager/examples/chart/custom-docker/Dockerfile
  sdks/apigw-manager/examples/chart/custom-docker/README.md
  sdks/apigw-manager/examples/chart/custom-docker/bk-demo-chart/values.yaml
  sdks/apigw-manager/examples/chart/use-configmap/Chart.yaml
  sdks/apigw-manager/examples/chart/use-configmap/README.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/apidocs/en/anything.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/apidocs/zh/anything.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/resources.yaml
  sdks/apigw-manager/examples/chart/use-configmap/templates/_helpers.tpl
  sdks/apigw-manager/examples/chart/use-configmap/templates/sync-apigateway-configmap.yaml
  sdks/apigw-manager/examples/chart/use-configmap/templates/sync-apigateway-job.yaml
  sdks/apigw-manager/examples/chart/use-configmap/values.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/README.md
  sdks/apigw-manager/examples/chart/use-custom-docker-image/bk-demo-chart/Chart.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/bk-demo-chart/templates/_helpers.tpl
  sdks/apigw-manager/examples/chart/use-custom-docker-image/bk-demo-chart/templates/sync-apigateway-job.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/bk-demo-chart/values.yaml
  sdks/apigw-manager/examples/django/custom-script/README.md
Due: IP check

优化 readme
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
Due: IP check

rename custom-script to use-costom-script
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/examples/django/use-custom-script/README.md
  sdks/apigw-manager/examples/django/use-custom-script/support-files/apidocs/en/anything.md
  sdks/apigw-manager/examples/django/use-custom-script/support-files/apidocs/zh/anything.md
  sdks/apigw-manager/examples/django/use-custom-script/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/django/use-custom-script/support-files/definition.yaml
  sdks/apigw-manager/examples/django/use-custom-script/support-files/resources.yaml
Due: IP check

优化 readme
  sdks/apigw-manager/examples/django/use-custom-script/README.md
Due: IP check

优化 readme
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/README.md
  sdks/apigw-manager/examples/chart/use-custom-docker-image/README.md
Due: IP check

优化 readme
  sdks/apigw-manager/README.md
Due: IP check

修复 dockerfile 中文件路径
  sdks/apigw-manager/Dockerfile
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-custom-docker-image/README.md
  sdks/apigw-manager/examples/chart/use-custom-docker-image/custom-docker/Dockerfile
  sdks/apigw-manager/examples/chart/use-custom-docker-image/custom-docker/support-files/apidocs/en/anything.md
  sdks/apigw-manager/examples/chart/use-custom-docker-image/custom-docker/support-files/apidocs/zh/anything.md
  sdks/apigw-manager/examples/chart/use-custom-docker-image/custom-docker/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-custom-docker-image/custom-docker/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/custom-docker/support-files/resources.yaml
Due: IP check

use gateway-name instead of api-name
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/README.md
  sdks/apigw-manager/bin/sync-apigateway.sh
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/django/use-custom-script/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/apply_apigw_permissions.py
Due: IP check, isort, black, flake8

优化 bkapi-client-core 异常消息 (#135)
  sdks/bkapi-client-core/CHANGE.md
  sdks/bkapi-client-core/Makefile
  sdks/bkapi-client-core/README.md
  sdks/bkapi-client-core/bkapi_client_core/__init__.py
  sdks/bkapi-client-core/bkapi_client_core/client.py
  sdks/bkapi-client-core/bkapi_client_core/config.py
  sdks/bkapi-client-core/bkapi_client_core/django_helper.py
  sdks/bkapi-client-core/bkapi_client_core/exceptions.py
  sdks/bkapi-client-core/bkapi_client_core/utils.py
  sdks/bkapi-client-core/demo/shortcuts.py
  sdks/bkapi-client-core/poetry.lock
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkapi-client-core/requirements.txt
  sdks/bkapi-client-core/tests/test_client.py
  sdks/bkapi-client-core/tests/test_config.py
  sdks/bkapi-client-core/tests/test_django_helper.py
  sdks/bkapi-client-core/tests/test_exceptions.py
  sdks/bkapi-client-core/tests/test_utils.py
Due: IP check, isort, black, flake8

优化请求 bk-apigateway 接口失败时，打印的错误消息 (#136)
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/definition.yaml
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/command.py
  sdks/apigw-manager/src/apigw_manager/apigw/helper.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/add_related_apps.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/fetch_apigw_public_key.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/grant_apigw_permissions.py
  sdks/apigw-manager/src/apigw_manager/core/exceptions.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/src/apigw_manager/core/sync.py
  sdks/apigw-manager/tests/apigw_manager/core/test_hander.py
Due: IP check, isort, black, flake8

rename custom-docker to my-apigw-manager
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/README.md
  sdks/apigw-manager/README.rst
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/README.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/README.md
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/Dockerfile
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/apidocs/en/anything.md
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/apidocs/zh/anything.md
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/resources.yaml
  sdks/apigw-manager/examples/django/use-custom-script/support-files/definition.yaml
Due: IP check

apigw-manager use ruff to format
  .pre-commit-config.yaml
  sdks/apigw-manager/.flake8
  sdks/apigw-manager/.isort.cfg
  sdks/apigw-manager/.pre-commit-config.yaml
  sdks/apigw-manager/mypy.ini
  sdks/apigw-manager/pyproject.toml
Due: IP check

use ruff to format bkapi-client-core
  .pre-commit-config.yaml
  pyproject.toml
  sdks/bkapi-client-core/.pre-commit-config.yaml
  sdks/bkapi-client-core/bkapi_client_core/apigateway/client.py
  sdks/bkapi-client-core/bkapi_client_core/apigateway/django_helper.py
  sdks/bkapi-client-core/bkapi_client_core/auth.py
  sdks/bkapi-client-core/bkapi_client_core/base.py
  sdks/bkapi-client-core/bkapi_client_core/client.py
  sdks/bkapi-client-core/bkapi_client_core/config.py
  sdks/bkapi-client-core/bkapi_client_core/django_helper.py
  sdks/bkapi-client-core/bkapi_client_core/esb/client.py
  sdks/bkapi-client-core/bkapi_client_core/esb/django_helper.py
  sdks/bkapi-client-core/bkapi_client_core/exceptions.py
  sdks/bkapi-client-core/bkapi_client_core/prometheus.py
  sdks/bkapi-client-core/bkapi_client_core/property.py
  sdks/bkapi-client-core/bkapi_client_core/session.py
  sdks/bkapi-client-core/bkapi_client_core/utils.py
  sdks/bkapi-client-core/poetry.lock
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkapi-client-core/tests/apigateway/test_client.py
  sdks/bkapi-client-core/tests/apigateway/test_django_helper.py
  sdks/bkapi-client-core/tests/esb/test_client.py
  sdks/bkapi-client-core/tests/esb/test_django_helper.py
  sdks/bkapi-client-core/tests/test_auth.py
  sdks/bkapi-client-core/tests/test_base.py
  sdks/bkapi-client-core/tests/test_client.py
  sdks/bkapi-client-core/tests/test_config.py
  sdks/bkapi-client-core/tests/test_django_helper.py
  sdks/bkapi-client-core/tests/test_exceptions.py
  sdks/bkapi-client-core/tests/test_prometheus.py
  sdks/bkapi-client-core/tests/test_property.py
  sdks/bkapi-client-core/tests/test_session.py
  sdks/bkapi-client-core/tests/test_utils.py
Due: IP check, isort, black, flake8

use ruff to format bkapi-client-core
  .pre-commit-config.yaml
  pyproject.toml
Due: IP check

use ruff to format apigw-manager
  .pre-commit-config.yaml
  sdks/apigw-manager/demo/settings.py
  sdks/apigw-manager/demo/urls.py
  sdks/apigw-manager/demo/views.py
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/authentication.py
  sdks/apigw-manager/src/apigw_manager/apigw/command.py
  sdks/apigw-manager/src/apigw_manager/apigw/decorators.py
  sdks/apigw-manager/src/apigw_manager/apigw/k8s_helper.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/add_related_apps.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/fetch_apigw_public_key.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/fetch_esb_public_key.py
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
  sdks/apigw-manager/src/apigw_manager/core/exceptions.py
  sdks/apigw-manager/src/apigw_manager/core/fetch.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/src/apigw_manager/core/sync.py
  sdks/apigw-manager/src/apigw_manager/core/utils.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_apply_apigw_permissions.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_sync_apigw_resources.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_authentication.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_command.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_decorators.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_helper.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_k8s_helper.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_providers.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_utils.py
  sdks/apigw-manager/tests/apigw_manager/core/conftest.py
  sdks/apigw-manager/tests/apigw_manager/core/test_hander.py
  sdks/apigw-manager/tests/apigw_manager/core/test_utils.py
  sdks/apigw-manager/tests/conftest.py
  sdks/apigw-manager/tests/demo/test_views.py
Due: IP check, isort, black, flake8

use ruff to format apigw-manager
  .pre-commit-config.yaml
Due: IP check

rename functions.sh 中的方法名
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/bin/functions.sh
  sdks/apigw-manager/bin/sync-apigateway.sh
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/bin/sync-apigateway.sh
Due: IP check

fix apigw-manger workflows
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/Makefile
  sdks/apigw-manager/requirements_dev.txt
Due: IP check

fix apigw-manger workflows
  .github/workflows/apigw-manager.yml
Due: IP check

fix apigw-manger workflows
  .github/workflows/apigw-manager.yml
  .github/workflows/bkapi-client-core.yml
Due: IP check

fix apigw-manger workflows
  sdks/apigw-manager/Makefile
Due: IP check

fix apigw-manger workflows
  sdks/apigw-manager/requirements_dev.txt
  sdks/apigw-manager/tox.ini
Due: IP check

fix apigw-manger workflows
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/Makefile
  sdks/apigw-manager/requirements_tox.txt
Due: IP check

fix apigw-manger workflows
  .github/workflows/bkapi-client-core.yml
Due: IP check

fix command position params
  sdks/apigw-manager/bin/functions.sh
  sdks/apigw-manager/examples/django/use-custom-script/README.md
  sdks/apigw-manager/src/apigw_manager/apigw/command.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_config.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_strategies.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_resource_docs_by_archive.py
Due: IP check, isort, black, flake8

remove warning when spec_version not exist, resources.yaml has no spec_version
  sdks/apigw-manager/src/apigw_manager/apigw/helper.py
Due: IP check, isort, black, flake8

configmap example, write apigateway.pub to /tmp
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/bin/sync-apigateway.sh
Due: IP check

remove requirements_dev.txt
  sdks/apigw-manager/requirements_dev.txt
Due: none
