Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-blue_krill

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run pflake8 --config=pyproject.toml

mypy-blue_krill:
  name: run mypy check for "blue-krill'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"

optimization: add decoded jwt provider scheme
  sdks/apigw-manager/src/apigw_manager/apigw/authentication.py
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
  sdks/apigw-manager/src/apigw_manager/core/configuration.py
Due: isort, black, flake8

optimization: add jwt public key provider scheme
  sdks/apigw-manager/src/apigw_manager/apigw/authentication.py
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
Due: isort, black, flake8

fix: make packaging required
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
Due: none

feat: add default args for create_version_and_release_apigw
  sdks/apigw-manager/demo/bin/sync-apigateway
Due: none

feat: add default values for BK_API_AUTHORIZATION_COOKIES_MAPPING
  sdks/bkapi-client-core/README.md
  sdks/bkapi-client-core/bkapi_client_core/__init__.py
  sdks/bkapi-client-core/bkapi_client_core/config.py
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkapi-client-core/tests/test_config.py
Due: isort, black, flake8

minor: fix unittests
  sdks/apigw-manager/src/apigw_manager/apigw/authentication.py
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
  sdks/apigw-manager/src/apigw_manager/core/configuration.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_authentication.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_providers.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_utils.py
Due: isort, black, flake8

chore: update version
  sdks/apigw-manager/pyproject.toml
Due: none

minor: 调整 github action 的规则
  .github/workflows/apigw-manager.yml
  .github/workflows/bk-storages.yml
  .github/workflows/bkapi-client-core.yml
  .github/workflows/blue-krill.yml
Due: none

refactor with discussion
  .github/workflows/blue-krill.yml
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/data_types/url.py
  sdks/blue-krill/blue_krill/text.py
  sdks/blue-krill/tests/data_types/test_url.py
  sdks/blue-krill/tests/test_text.py
Due: isort, black, flake8, mypy-blue_krill

Update apigw-manager.yml
  .github/workflows/apigw-manager.yml
Due: none

Update blue-krill.yml
  .github/workflows/blue-krill.yml
Due: none

feature: 实现 SensitiveURL 支持隐藏 url 中的密码字段
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/data_types/url.py
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/data_types/test_url.py
Due: isort, black, flake8, mypy-blue_krill

ci(pre-commit): sensitive info check support pre-commit args (#56)
  .pre-commit-config.yaml
Due: none

minor: 增加更多的错误提示
  .github/workflows/apigw-manager.yml
  .github/workflows/bkapi-client-core.yml
  sdks/bk-storages/bkstorages/backends/bkrepo.py
  sdks/bk-storages/bkstorages/backends/rgw.py
  sdks/bk-storages/tests/models.py
  sdks/bk-storages/tests/test_bkrepo.py
  sdks/bk-storages/tests/test_rgw.py
  sdks/blue-krill/blue_krill/storages/blobstore/bkrepo.py
  sdks/blue-krill/blue_krill/storages/blobstore/exceptions.py
Due: isort, black, flake8, mypy-blue_krill

minor: apigw-manager local provider docs
  sdks/apigw-manager/README.md
Due: none

feature: add DummyEnvPayloadJWTProvider for local dev
  sdks/apigw-manager/README.md
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
Due: isort, black, flake8

minor: 调整 HAEndpointPool 拦截 exempt_exceptions 的日志级别至 warning
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/connections/ha_endpoint_pool.py
  sdks/blue-krill/pyproject.toml
Due: isort, black, flake8, mypy-blue_krill

minor: 移除 HAEndpointPool 拦截 exempt_exceptions 后的冗余日志
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/connections/ha_endpoint_pool.py
Due: isort, black, flake8, mypy-blue_krill

build: update version
  sdks/apigw-manager/pyproject.toml
Due: none

feat: make admin as default maintainers for api
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/README.rst
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_config.py
Due: isort, black, flake8

fix: create sdk after released
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
Due: isort, black, flake8

chore: udpate changes
  sdks/apigw-manager/CHANGE.md
Due: none

refactor: it is ok when generate sdk failed
  sdks/apigw-manager/demo/bin/sync-apigateway
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
Due: isort, black, flake8

test: fix tests
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
Due: isort, black, flake8

Enhance: Major updates on connections.ha_endpoint_poll module
  sdks/blue-krill/blue_krill/connections/decorators.py
  sdks/blue-krill/blue_krill/connections/ha_algorithm.py
  sdks/blue-krill/blue_krill/connections/ha_endpoint_pool.py
  sdks/blue-krill/tests/test_haendpoint_pool.py
Due: isort, black, flake8, mypy-blue_krill

feat: define client name
  sdks/bkapi-client-core/bkapi_client_core/apigateway/client.py
  sdks/bkapi-client-core/bkapi_client_core/client.py
  sdks/bkapi-client-core/bkapi_client_core/esb/client.py
  sdks/bkapi-client-core/demo/test_client.py
  sdks/bkapi-client-core/tests/apigateway/test_client.py
  sdks/bkapi-client-core/tests/esb/test_client.py
  sdks/bkapi-client-core/tests/test_client.py
Due: isort, black, flake8

feat: enhance hooks
  sdks/bkapi-client-core/bkapi_client_core/client.py
  sdks/bkapi-client-core/bkapi_client_core/config.py
  sdks/bkapi-client-core/bkapi_client_core/session.py
  sdks/bkapi-client-core/tests/test_client.py
  sdks/bkapi-client-core/tests/test_session.py
Due: isort, black, flake8

Enhance: Change API of `HAEndpointPool.once` to make it easier to understand.
  sdks/blue-krill/blue_krill/connections/ha_endpoint_pool.py
  sdks/blue-krill/tests/test_haendpoint_pool.py
Due: isort, black, flake8, mypy-blue_krill

feat: add prometheus helper
  sdks/bkapi-client-core/bkapi_client_core/client.py
  sdks/bkapi-client-core/bkapi_client_core/config.py
  sdks/bkapi-client-core/bkapi_client_core/prometheus_helper.py
  sdks/bkapi-client-core/bkapi_client_core/session.py
  sdks/bkapi-client-core/poetry.lock
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkapi-client-core/tests/test_client.py
  sdks/bkapi-client-core/tests/test_session.py
Due: isort, black, flake8

test: update tests
  sdks/bkapi-client-core/bkapi_client_core/prometheus.py
  sdks/bkapi-client-core/tests/test_prometheus.py
Due: isort, black, flake8

test: update tests
  sdks/bkapi-client-core/bkapi_client_core/client.py
  sdks/bkapi-client-core/bkapi_client_core/config.py
  sdks/bkapi-client-core/bkapi_client_core/prometheus.py
  sdks/bkapi-client-core/bkapi_client_core/utils.py
  sdks/bkapi-client-core/tests/test_client.py
  sdks/bkapi-client-core/tests/test_prometheus.py
Due: isort, black, flake8

test: fix buckets
  sdks/bkapi-client-core/bkapi_client_core/prometheus.py
  sdks/bkapi-client-core/tests/test_prometheus.py
Due: isort, black, flake8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy-blue_krill: any of: ^sdks/blue-krill/ and \.py$
