Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill, mypy-paas-service, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        exclude: "^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml"
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix  
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude 
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-blue_krill
        name: run mypy check for "blue-krill'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/blue-krill/'
      - id: mypy-paas-service
        name: run mypy check for "paas-service'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/paas-service/'
  # sdk bkapi-client-core
  - repo: local
    hooks:
      - id: mypy
        name: run mypy for "bkapi-client-core"
        language: python
        types: [python]
        entry: mypy --config-file=sdks/bkapi-client-core/pyproject.toml
        files: sdks/bkapi-client-core/
  # sdk apigw-manager
  - repo: local
    hooks:
      - id: mypy
        name: run mypy for "apigw-manager"
        language: python
        types: [python]
        entry: mypy --config-file=sdks/apigw-manager/pyproject.toml
        files: sdks/apigw-manager/

refactor: fix CI for blue-krill
  .github/workflows/blue-krill.yml
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check

refactor: fix CI for blue-krill
  .github/workflows/blue-krill.yml
Due: IP check

refactor: fix CI for blue-krill
  .github/workflows/blue-krill.yml
  pyproject.toml
Due: IP check

refactor: fix CI for blue-krill
  .github/workflows/blue-krill.yml
  sdks/blue-krill/pyproject.toml
Due: IP check

refactor: fix CI for blue-krill
  .github/workflows/blue-krill.yml
  sdks/blue-krill/noxfile.py
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

refactor: fix CI for blue-krill
  .github/workflows/blue-krill.yml
  sdks/blue-krill/noxfile.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

refactor: fix CI for blue-krill
  .github/workflows/blue-krill.yml
  sdks/blue-krill/noxfile.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

chore: bump to 2.1.0
  pyproject.toml
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/auth/jwt.py
  sdks/blue-krill/blue_krill/data_types/enum.py
  sdks/blue-krill/blue_krill/storages/blobstore/s3.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/async_utils/test_poll_task.py
  sdks/blue-krill/tests/editions/test_editionctl.py
  sdks/blue-krill/tests/storages/conftest.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix(bkpaas-auth): 修复 apigw_manager 的 JWT 中间件新增 tenant_id 参数导致的 JWT 认证失效问题 (#213)
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
  sdks/bkpaas-auth/tests/test_backends.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

chore: blue-krill v2.1.0 & some minor enhancements (#216)
  pyproject.toml
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/auth/jwt.py
  sdks/blue-krill/blue_krill/data_types/enum.py
  sdks/blue-krill/blue_krill/storages/blobstore/s3.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/async_utils/test_poll_task.py
  sdks/blue-krill/tests/editions/test_editionctl.py
  sdks/blue-krill/tests/storages/conftest.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat: bkrepo 管理端 API 支持添加多租户请求头
  sdks/blue-krill/blue_krill/storages/blobstore/bkrepo.py
  sdks/blue-krill/tests/storages/test_bkrepo.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat: up version
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

docs: up change.md
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/storages/blobstore/bkrepo.py
  sdks/blue-krill/tests/storages/test_bkrepo.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat: 添加参数 enable_multi_tenant_mode
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/storages/blobstore/bkrepo.py
  sdks/blue-krill/tests/storages/test_bkrepo.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: ruff
  sdks/blue-krill/tests/storages/test_bkrepo.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat: 区分 project 和 project_id
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/README.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/storages/blobstore/bkrepo.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/storages/test_bkrepo.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: minor
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/storages/blobstore/bkrepo.py
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/storages/test_bkrepo.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat: up reademe
  sdks/blue-krill/README.md
  sdks/blue-krill/blue_krill/storages/blobstore/bkrepo.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat: 更新注释
  sdks/blue-krill/blue_krill/storages/blobstore/bkrepo.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat: 多租户模式下，bkrepo 管理端 API 请求头添加租户 ID，项目 ID 添加租户 ID 前缀 (#217)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/storages/blobstore/bkrepo.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/storages/test_bkrepo.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: 修复 blue-krill poetry.lock 文件
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: 修复 blue-krill poetry.lock 文件 (#218)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat(apigw_manager/drf): add grant resource permission and import docs
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
Due: IP check

feat(commands/sync_drf_apigateway.py): add sync doc command
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/sync_drf_apigateway.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(requirements_tox.txt): lock poetry version
  sdks/apigw-manager/requirements_tox.txt
Due: IP check

fix(apigw-manager): lock poetry version
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/requirements_tox.txt
Due: IP check

fix(apigw-manager): poetry
  .github/workflows/apigw-manager.yml
Due: IP check

feat(apigw-manager): update
  .github/workflows/apigw-manager.yml
Due: IP check

fix(apigw-manager): poetry
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/tox.ini
Due: IP check

fix(apigw-manager): lock
  .github/workflows/apigw-manager.yml
Due: IP check

fix(pyproject.toml): fix
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/tox.ini
Due: IP check

feat(apigw_manager/drf): add grant resource permission and import docs (#219)
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/sync_drf_apigateway.py
  sdks/apigw-manager/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

refactor: remove deprecated better_loaddata module and related files
  sdks/blue-krill/blue_krill/models/better_loaddata/__init__.py
  sdks/blue-krill/blue_krill/models/better_loaddata/apps.py
  sdks/blue-krill/blue_krill/models/better_loaddata/management/__init__.py
  sdks/blue-krill/blue_krill/models/better_loaddata/management/commands/__init__.py
  sdks/blue-krill/blue_krill/models/better_loaddata/management/commands/better_loaddata.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix(apigw/authentication.py): fix missing tenant_id in UserBackend
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/authentication.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_authentication.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(workflows/apigw-manager.yml): ubuntu upgrade
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/tests/apigw_manager/apigw/test_authentication.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(apigw/authentication.py): fix missing tenant_id in UserBackend (#221)
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/authentication.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_authentication.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy
