Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill, mypy-paas-service, mypy

IP check:
  name: Check sensitive info
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude

mypy-blue_krill:
  name: run mypy check for "blue-krill'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"

mypy-paas-service:
  name: run mypy check for "paas-service'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"

mypy:
  name: run mypy for "apigw-manager"
  language: python
  entry: mypy --config-file=sdks/apigw-manager/pyproject.toml

refactor: remove deprecated better_loaddata module and related files (#220)
  sdks/blue-krill/blue_krill/models/better_loaddata/__init__.py
  sdks/blue-krill/blue_krill/models/better_loaddata/apps.py
  sdks/blue-krill/blue_krill/models/better_loaddata/management/__init__.py
  sdks/blue-krill/blue_krill/models/better_loaddata/management/commands/__init__.py
  sdks/blue-krill/blue_krill/models/better_loaddata/management/commands/better_loaddata.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: test CI
  .github/workflows/blue-krill.yml
Due: IP check

fix: test CI
  .github/workflows/blue-krill.yml
  pyproject.toml
Due: IP check

fix: EncryptField unable to process values that starts with special header (#237)
  .github/workflows/blue-krill.yml
  pyproject.toml
  sdks/blue-krill/blue_krill/encrypt/handler.py
  sdks/blue-krill/blue_krill/models/fields.py
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/conftest.py
  sdks/blue-krill/tests/models/__init__.py
  sdks/blue-krill/tests/models/apps/__init__.py
  sdks/blue-krill/tests/models/apps/test_encrypt/__init__.py
  sdks/blue-krill/tests/models/apps/test_encrypt/apps.py
  sdks/blue-krill/tests/models/apps/test_encrypt/migrations/0001_initial.py
  sdks/blue-krill/tests/models/apps/test_encrypt/migrations/__init__.py
  sdks/blue-krill/tests/models/apps/test_encrypt/models.py
  sdks/blue-krill/tests/models/test_fields.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat(apigw_manager/plugin): 新增 bk-access-token-source 插件
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix validation
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw_manager/plugin): 新增 bk-access-token-source 插件 (#238)
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw_manager/plugin): 新增 bk-username-required 插件
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(apigw_manager/plugin): 新增 bk-username-required 插件 (#239)
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat: add sync mcp servers
  sdks/apigw-manager/bin/sync-apigateway.sh
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/docs/sync_apigateway.md
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_stage_mcp_servers.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/src/apigw_manager/core/sync.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat: add sync mcp servers
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/requirements_tox.txt
Due: IP check

fix: fix cr
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/bin/sync-apigateway.sh
Due: IP check

fix: fix cr
  sdks/apigw-manager/pyproject.toml
Due: IP check

fix: fix cr
  sdks/apigw-manager/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_stage_mcp_servers.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix cr
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
Due: IP check

fix: fix cr
  sdks/apigw-manager/bin/sync-apigateway.sh
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_stage_mcp_servers.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/src/apigw_manager/core/sync.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix cr
  sdks/apigw-manager/bin/sync-apigateway.sh
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/docs/sync_apigateway.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_stage_mcp_servers.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix cr
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check

feat: drf add mcp server
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_definition_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_resources_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/sync_drf_apigateway.py
  sdks/apigw-manager/src/apigw_manager/drf/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat: drf add mcp server
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_definition_yaml.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix fmt
  sdks/apigw-manager/src/apigw_manager/drf/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix name
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
Due: IP check

chore: bump blue-krill to 2.1.3
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

chore: bump blue-krill to 2.1.3 (#241)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: fix mcp server drf
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_definition_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_resources_yaml.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix comment
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_resources_yaml.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix cr
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_definition_yaml.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix fmt
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_stage_mcp_servers.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/sync_drf_apigateway.py
  sdks/apigw-manager/src/apigw_manager/drf/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix namespace
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_stage_mcp_servers.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat: add sync mcp servers (#240)
  sdks/apigw-manager/bin/sync-apigateway.sh
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/docs/sync_apigateway.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/requirements_tox.txt
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_stage_mcp_servers.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/src/apigw_manager/core/sync.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_definition_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_resources_yaml.py
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/sync_drf_apigateway.py
  sdks/apigw-manager/src/apigw_manager/drf/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: fix version
  sdks/apigw-manager/pyproject.toml
Due: IP check

fix: subclass naming conflict in __init_subclass__ for TaskPoller and CallbackHandler
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/async_utils/poll_task.py
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

style: minor
  sdks/blue-krill/blue_krill/async_utils/poll_task.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

Path conditions:
  IP check: any file but: ^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-blue_krill: any of: ^sdks/blue-krill/ and \.py$
  mypy-paas-service: any of: ^sdks/paas-service/ and \.py$
  mypy: (any of: sdks/bkapi-client-core/ and \.py$) or (any of: sdks/apigw-manager/ and \.py$)
