Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill, mypy-paas-service, mypy

IP check:
  name: Check sensitive info
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude

mypy-blue_krill:
  name: run mypy check for "blue-krill'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"

mypy-paas-service:
  name: run mypy check for "paas-service'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"

mypy:
  name: run mypy for "apigw-manager"
  language: python
  entry: mypy --config-file=sdks/apigw-manager/pyproject.toml

feat(bkpaas-auth): allow Django 5.x in tests
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/noxfile.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: bkpaas-auth supports django 5.x
  .github/workflows/bkpaas-auth.yml
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/noxfile.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/tests/conftest.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: tests failed on macos CI
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/noxfile.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: bkpaas-auth supports django 5.x (#251)
  .github/workflows/bkpaas-auth.yml
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/noxfile.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/tests/conftest.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

refactor: update deps of blue-krill to remove urllib3
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

chore: update pyproject.toml of paas-service to PEP621 compatible
  sdks/paas-service/pyproject.toml
  sdks/paas-service/setup.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

Update pyproject.toml of bkapi-client-core
  sdks/bkapi-client-core/poetry.lock
  sdks/bkapi-client-core/pyproject.toml
  sdks/paas-service/poetry.lock
Due: IP check

refactor: make bkapi-client-core use nox for testing.
  .github/workflows/bkapi-client-core.yml
  sdks/bkapi-client-core/Makefile
  sdks/bkapi-client-core/README.md
  sdks/bkapi-client-core/noxfile.py
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkapi-client-core/requirements.txt
  sdks/bkapi-client-core/requirements_dev.txt
  sdks/bkapi-client-core/requirements_tox.txt
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

refactor: update pyproject.toml of bkapi-component-open
  sdks/bkapi-component-open/pyproject.toml
Due: IP check

refactor: fix ci
  .github/workflows/bkapi-client-core.yml
Due: IP check

refactor: update multiple packages's pyproject.toml to PEP-621 (#253)
  .github/workflows/bkapi-client-core.yml
  sdks/bkapi-client-core/Makefile
  sdks/bkapi-client-core/README.md
  sdks/bkapi-client-core/noxfile.py
  sdks/bkapi-client-core/poetry.lock
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkapi-client-core/requirements.txt
  sdks/bkapi-client-core/requirements_dev.txt
  sdks/bkapi-client-core/requirements_tox.txt
  sdks/bkapi-component-open/pyproject.toml
  sdks/paas-service/poetry.lock
  sdks/paas-service/pyproject.toml
  sdks/paas-service/setup.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service, mypy

fix: update version of mypy and typing-ext to fix tests under 3.9/3.10
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check

fix: CI fails in py3.9
  sdks/blue-krill/noxfile.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

refactor: update deps of blue-krill to remove urllib3 (#252)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/noxfile.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix(apigw-manager): fix mcp config
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_resources_yaml.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(apigw-manager): fix mac os tag
  .github/workflows/apigw-manager.yml
Due: IP check

fix(apigw-manager): fix mcp config (#254)
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_resources_yaml.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat: add UserTimezoneMiddleware
  sdks/bkpaas-auth/README.md
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
  sdks/bkpaas-auth/tests/test_middlewares.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix(apigw-manager): fix mcp render
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_definition_yaml.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(apigw-manager): fix mcp config
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
Due: IP check

fix(apigw-manager): fix mcp render (#256)
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_definition_yaml.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(apigw-manager): fix stage plugin config render
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
Due: IP check

fix(apigw-manager): fix stage plugin config render (#257)
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
Due: IP check

fix: review 意见修改, 修改测试逻辑
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
  sdks/bkpaas-auth/tests/test_middlewares.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

test: 修改测试
  sdks/bkpaas-auth/tests/test_middlewares.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: add UserTimezoneMiddleware (#255)
  sdks/bkpaas-auth/README.md
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
  sdks/bkpaas-auth/tests/test_middlewares.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

chore: update changelog for bkpaas-auth
  sdks/bkpaas-auth/CHANGES.md
Due: IP check

chore: update changelog for bkpaas-auth (#258)
  sdks/bkpaas-auth/CHANGES.md
Due: IP check

feat(apigw-manager): 补充 MCP Server 同步相关文档、脚本和配置样例
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/bin/sync-apigateway.sh
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/definition.yaml
  sdks/apigw-manager/examples/django/use-custom-script/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/django/use-custom-script/support-files/definition.yaml
Due: IP check

feat(apigw-manager): 补充 MCP Server 同步相关文档、脚本和配置样例 (#259)
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/bin/sync-apigateway.sh
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/definition.yaml
  sdks/apigw-manager/examples/django/use-custom-script/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/django/use-custom-script/support-files/definition.yaml
Due: IP check

feat: support async_destroy pre-hook function
  sdks/paas-service/paas_service/views.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

chore
  sdks/paas-service/CHANGES.md
  sdks/paas-service/pyproject.toml
Due: IP check

chore
  sdks/paas-service/paas_service/views.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat: 增加幂等创建接口
  sdks/paas-service/CHANGES.md
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/paas_service/base_vendor.py
  sdks/paas-service/paas_service/constants.py
  sdks/paas-service/paas_service/migrations/0010_operationlock_instancerecord.py
  sdks/paas-service/paas_service/models.py
  sdks/paas-service/paas_service/urls.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/pyproject.toml
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

chore
  sdks/paas-service/paas_service/models.py
  sdks/paas-service/paas_service/urls.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

update migrations
  sdks/paas-service/paas_service/migrations/0010_operationlock_instancerecord.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

update CHANGES.md
  sdks/paas-service/CHANGES.md
Due: IP check

feat: update min-python version >= 3.9, setuptools to 82.0.1, ipython to 8.18.1
  sdks/apigw-manager/Makefile
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/requirements_tox.txt
  sdks/apigw-manager/tox.ini
Due: IP check

fix: remove python 3.8 in .github
  .github/workflows/apigw-manager.yml
Due: IP check

Path conditions:
  IP check: any file but: ^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-blue_krill: any of: ^sdks/blue-krill/ and \.py$
  mypy-paas-service: any of: ^sdks/paas-service/ and \.py$
  mypy: (any of: sdks/bkapi-client-core/ and \.py$) or (any of: sdks/apigw-manager/ and \.py$)
