Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill, mypy-paas-service, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        exclude: "^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml"
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix  
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude 
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-blue_krill
        name: run mypy check for "blue-krill'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/blue-krill/'
      - id: mypy-paas-service
        name: run mypy check for "paas-service'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/paas-service/'
  # sdk bkapi-client-core
  - repo: local
    hooks:
      - id: mypy
        name: run mypy for "bkapi-client-core"
        language: python
        types: [python]
        entry: mypy --config-file=sdks/bkapi-client-core/pyproject.toml
        files: sdks/bkapi-client-core/
  # sdk apigw-manager
  - repo: local
    hooks:
      - id: mypy
        name: run mypy for "apigw-manager"
        language: python
        types: [python]
        entry: mypy --config-file=sdks/apigw-manager/pyproject.toml
        files: sdks/apigw-manager/

feat(bkpaas-auth): upgrade Django dependency version to 5.2 (#274)
  .github/workflows/bkpaas-auth.yml
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/README.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/core/encoder.py
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
  sdks/bkpaas-auth/noxfile.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/tests/conftest.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat(bk-storages): upgrade Django dependency version to 5.2 (#273)
  .github/workflows/bk-storages.yml
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/README.md
  sdks/bk-storages/bkstorages/__init__.py
  sdks/bk-storages/bkstorages/backends/rgw.py
  sdks/bk-storages/bkstorages/utils.py
  sdks/bk-storages/noxfile.py
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/tests/conftest.py
  sdks/bk-storages/tests/test_rgw.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: noxfile test logic
  sdks/blue-krill/noxfile.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat(blue-krill): upgrade Django dependency version to 5.2 (#275)
  .ci/blue-krill.yml
  .github/workflows/blue-krill.yml
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/README.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/auth/jwt.py
  sdks/blue-krill/blue_krill/encoding.py
  sdks/blue-krill/blue_krill/models/fields.py
  sdks/blue-krill/blue_krill/redis_tools/sentinel.py
  sdks/blue-krill/blue_krill/text.py
  sdks/blue-krill/noxfile.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/auth/test_jwt.py
  sdks/blue-krill/tests/conftest.py
  sdks/blue-krill/tests/models/test_fields.py
  sdks/blue-krill/tests/storages/test_s3.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat(apigw-manageer): upgrade Django dependency version to 5.2 (#276)
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/demo/settings.py
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/requirements_tox.txt
  sdks/apigw-manager/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat: upgrade all bk-apigateway API from v1 to v2
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/apply_apigw_permissions.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/grant_apigw_permissions.py
  sdks/apigw-manager/src/apigw_manager/core/fetch.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/src/apigw_manager/core/permission.py
  sdks/apigw-manager/src/apigw_manager/core/release.py
  sdks/apigw-manager/src/apigw_manager/core/sync.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_apply_apigw_permissions.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_grant_apigw_permissions.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat: upgrade all bk-apigateway API from v1 to v2
  sdks/apigw-manager/pyproject.toml
Due: IP check

fix: remove title parameter from _create_resource_version method
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

chore: update dependencies for v2 API support
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/requirements_tox.txt
Due: IP check

feat(paas-service): upgrade django to 5.2
  sdks/paas-service/CHANGES.md
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/paas_service/utils.py
  sdks/paas-service/poetry.lock
  sdks/paas-service/pyproject.toml
  sdks/paas-service/tests/test_idem_prov.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

test: refactor the test logic
  sdks/paas-service/tests/test_idem_prov.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat: add ci test for paas-service
  .github/workflows/paas-service.yml
Due: IP check

test: fix ruff error
  sdks/paas-service/paas_service/auth/backends.py
  sdks/paas-service/paas_service/base_vendor.py
  sdks/paas-service/paas_service/idem_prov.py
  sdks/paas-service/paas_service/serializers.py
  sdks/paas-service/paas_service/tasks.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/tests/conftest.py
  sdks/paas-service/tests/test_apis.py
  sdks/paas-service/tests/test_specs.py
  sdks/paas-service/tests/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix: correct v2 add_related_apps parameter name to related_apps
  sdks/apigw-manager/src/apigw_manager/core/sync.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: use related_apps parameter directly matching definition.yaml config
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/add_related_apps.py
  sdks/apigw-manager/src/apigw_manager/core/sync.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: add_related_apps 参数转换及 CHANGELOG 修正
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/src/apigw_manager/core/sync.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: 调整 apply 权限申请接口和维度
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/README.rst
  sdks/apigw-manager/docs/sync_apigateway.md
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/apply_apigw_permissions.py
  sdks/apigw-manager/src/apigw_manager/core/permission.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_apply_apigw_permissions.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

chore(bk-storages): update copyright entity in source file headers
  sdks/bk-storages/bkstorages/__init__.py
  sdks/bk-storages/bkstorages/backends/__init__.py
  sdks/bk-storages/bkstorages/backends/bkrepo.py
  sdks/bk-storages/bkstorages/backends/rgw.py
  sdks/bk-storages/bkstorages/exceptions.py
  sdks/bk-storages/bkstorages/utils.py
  sdks/bk-storages/tests/__init__.py
  sdks/bk-storages/tests/conftest.py
  sdks/bk-storages/tests/models.py
  sdks/bk-storages/tests/test_bkrepo.py
  sdks/bk-storages/tests/test_rgw.py
  sdks/bk-storages/tests/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: reviewer comments
  .github/workflows/paas-service.yml
  sdks/paas-service/noxfile.py
  sdks/paas-service/paas_service/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

test: add some Base36Handler test
  sdks/paas-service/tests/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix: reviewer comments
  sdks/paas-service/CHANGES.md
Due: IP check

feat(paas-service): upgrade to Django 5.2 (#280)
  .github/workflows/paas-service.yml
  sdks/paas-service/CHANGES.md
  sdks/paas-service/noxfile.py
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/paas_service/auth/backends.py
  sdks/paas-service/paas_service/base_vendor.py
  sdks/paas-service/paas_service/idem_prov.py
  sdks/paas-service/paas_service/serializers.py
  sdks/paas-service/paas_service/tasks.py
  sdks/paas-service/paas_service/utils.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/poetry.lock
  sdks/paas-service/pyproject.toml
  sdks/paas-service/tests/conftest.py
  sdks/paas-service/tests/test_apis.py
  sdks/paas-service/tests/test_idem_prov.py
  sdks/paas-service/tests/test_specs.py
  sdks/paas-service/tests/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

chore(bkapi-component-open): update copyright entity in source file headers
  sdks/bkapi-component-open/bkapi_component/__init__.py
  sdks/bkapi-component-open/bkapi_component/open/__init__.py
  sdks/bkapi-component-open/bkapi_component/open/client.py
  sdks/bkapi-component-open/bkapi_component/open/client.pyi
  sdks/bkapi-component-open/bkapi_component/open/shortcuts.py
  sdks/bkapi-component-open/noxfile.py
  sdks/bkapi-component-open/setup.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat(apigw-manager): support merging extra resource files
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_resources_yaml.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/test_generate_resources_yaml.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat: upgrade all bk-apigateway API from v1 to v2 (#279)
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/README.rst
  sdks/apigw-manager/docs/sync_apigateway.md
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/requirements_tox.txt
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/add_related_apps.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/apply_apigw_permissions.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/grant_apigw_permissions.py
  sdks/apigw-manager/src/apigw_manager/core/fetch.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/src/apigw_manager/core/permission.py
  sdks/apigw-manager/src/apigw_manager/core/release.py
  sdks/apigw-manager/src/apigw_manager/core/sync.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_apply_apigw_permissions.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_grant_apigw_permissions.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

docs: update CHANGE.md for extra resource file merge support
  sdks/apigw-manager/CHANGE.md
Due: IP check

chore(bkapi-component-open): update copyright entity in source file headers (#285)
  sdks/bkapi-component-open/bkapi_component/__init__.py
  sdks/bkapi-component-open/bkapi_component/open/__init__.py
  sdks/bkapi-component-open/bkapi_component/open/client.py
  sdks/bkapi-component-open/bkapi_component/open/client.pyi
  sdks/bkapi-component-open/bkapi_component/open/shortcuts.py
  sdks/bkapi-component-open/noxfile.py
  sdks/bkapi-component-open/setup.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

chore(bk-storages): update copyright entity in source file headers (#281)
  sdks/bk-storages/bkstorages/__init__.py
  sdks/bk-storages/bkstorages/backends/__init__.py
  sdks/bk-storages/bkstorages/backends/bkrepo.py
  sdks/bk-storages/bkstorages/backends/rgw.py
  sdks/bk-storages/bkstorages/exceptions.py
  sdks/bk-storages/bkstorages/utils.py
  sdks/bk-storages/tests/__init__.py
  sdks/bk-storages/tests/conftest.py
  sdks/bk-storages/tests/models.py
  sdks/bk-storages/tests/test_bkrepo.py
  sdks/bk-storages/tests/test_rgw.py
  sdks/bk-storages/tests/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat(apigw-manager): add Python 3.14 support
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/tox.ini
Due: IP check

feat(apigw-manager): add Python 3.14 support (#288)
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/tox.ini
Due: IP check

feat(apigw-manager): support merging extra resource files (#287)
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_resources_yaml.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/test_generate_resources_yaml.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

refactor: clarify apigw resource backend name docs
  sdks/apigw-manager/docs/sync_apigateway.md
  sdks/apigw-manager/examples/django/use-custom-script/support-files/resources.yaml
Due: IP check
