Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-blue_krill

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run pflake8 --config=pyproject.toml

mypy-blue_krill:
  name: run mypy check for "blue-krill'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"

docs: 修改登录票据验证失败的日志级别
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
Due: isort, black, flake8

feat: up version
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
Due: isort, black, flake8

fix: 日志级别调整
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
Due: isort, black, flake8

fix: 异常日志
  sdks/bkpaas-auth/bkpaas_auth/backends.py
Due: isort, black, flake8

feat: 日志内容修改
  sdks/bkpaas-auth/bkpaas_auth/backends.py
Due: isort, black, flake8

Fix: 限制 bkrepo 创建项目管理员的权限
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/storages/blobstore/bkrepo.py
  sdks/blue-krill/pyproject.toml
Due: isort, black, flake8, mypy-blue_krill

删除访问策略
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/Makefile
  sdks/apigw-manager/README.md
  sdks/apigw-manager/README.rst
  sdks/apigw-manager/definition.yaml
  sdks/apigw-manager/demo/bin/sync-apigateway
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_strategies.py
  sdks/apigw-manager/src/apigw_manager/core/sync.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_sync_apigw_strategies.py
Due: isort, black, flake8

恢复指令 sync_apigw_strategies，但其中仅打印日志
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_strategies.py
Due: isort, black, flake8

change version to 2.0.0
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
Due: none

更新 sync_apigw_strategies 中的告警消息
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_strategies.py
Due: isort, black, flake8

更新组件
  readme_en.md
  sdks/bkapi-component-open/bkapi_component/open/__init__.py
  sdks/bkapi-component-open/bkapi_component/open/client.py
  sdks/bkapi-component-open/bkapi_component/open/client.pyi
  sdks/bkapi-component-open/bkapi_component/open/shortcuts.py
  sdks/bkapi-component-open/setup.py
Due: isort, black, flake8

add CHANGE.md for bkapi-component-open
  sdks/bkapi-component-open/CHANGE.md
Due: none

更新 readme 中 bkapi-component-open 的版本号
  readme.md
Due: none

更新 sdk bkapi-component-open，添加组件 API (#99)
  readme.md
  readme_en.md
  sdks/bkapi-component-open/CHANGE.md
  sdks/bkapi-component-open/bkapi_component/open/__init__.py
  sdks/bkapi-component-open/bkapi_component/open/client.py
  sdks/bkapi-component-open/bkapi_component/open/client.pyi
  sdks/bkapi-component-open/bkapi_component/open/shortcuts.py
  sdks/bkapi-component-open/setup.py
Due: isort, black, flake8

fix user email is null
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
Due: isort, black, flake8

fix user email is null (#101)
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
Due: isort, black, flake8

feat: return code=1302403 when authenticated user has no access permissions
  .gitignore
  sdks/bkpaas-auth/bkpaas_auth/core/constants.py
  sdks/bkpaas-auth/bkpaas_auth/core/exceptions.py
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
  sdks/bkpaas-auth/tests/core/test_services.py
  sdks/bkpaas-auth/tests/test_middlewares.py
Due: isort, black, flake8

feat: update version
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
Due: isort, black, flake8

ci: add bkpaas-auth workflow
  .github/workflows/bkpaas-auth.yml
Due: none

ci: fix workflow
  .github/workflows/bkpaas-auth.yml
Due: none

ci: update tool.flake8 & tool.black in pyproject.toml
  .github/workflows/bkpaas-auth.yml
  sdks/bkpaas-auth/pyproject.toml
Due: none

ci: continue-on-error: true
  .github/workflows/bkpaas-auth.yml
Due: none

feat: tokenRequestBackend.request_username support i18n
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
Due: isort, black, flake8

feat:support nation secret sdk
  .pre-commit-config.yaml
  readme.md
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
  sdks/apigw-manager/src/apigw_manager/core/fetch.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
  sdks/apigw-manager/tests/conftest.py
  sdks/bk-storages/bkstorages/backends/bkrepo.py
  sdks/bk-storages/bkstorages/backends/rgw.py
  sdks/bk-storages/tests/models.py
  sdks/bk-storages/tests/test_bkrepo.py
  sdks/bk-storages/tests/test_rgw.py
  sdks/bkapi-component-open/bkapi_component/open/__init__.py
  sdks/bkapi-component-open/bkapi_component/open/client.py
  sdks/bkapi-component-open/bkapi_component/open/shortcuts.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/tests/core/test_services.py
  sdks/bkpaas-auth/tests/test_middlewares.py
  sdks/blue-krill/blue_krill/auth/jwt.py
  sdks/blue-krill/blue_krill/encrypt/handler.py
  sdks/blue-krill/blue_krill/models/fields.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/auth/test_jwt.py
  sdks/blue-krill/tests/conftest.py
  sdks/blue-krill/tests/test_encrypt.py
  sdks/blue-krill/tests/web/test_std_error.py
Due: isort, black, flake8, mypy-blue_krill

style: minor
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
Due: isort, black, flake8

feat:support nation secret sdk
  .gitignore
  build.yml
  sdks/blue-krill/blue_krill/encrypt/handler.py
  sdks/blue-krill/blue_krill/models/fields.py
  sdks/blue-krill/tests/test_encrypt.py
Due: isort, black, flake8, mypy-blue_krill

Delete build.yml
  build.yml
Due: none

feature: bkstorages 升级至 1.1.0; 调整 `BKRepoStorage` 公开仓库的 url 实现: 直接返回资源的路径, 而并非生成临时访问地址
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/bkstorages/__init__.py
  sdks/bk-storages/bkstorages/backends/bkrepo.py
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/setup.py
Due: isort, black, flake8

rollback poetry.lock
  sdks/bk-storages/poetry.lock
Due: none

update poetry version
  .github/workflows/bk-storages.yml
Due: none

github action 移除对 python 3.6 的支持
  .github/workflows/bk-storages.yml
Due: none

update PyYaml in poetry.lock
  sdks/bk-storages/poetry.lock
Due: none

update ci
  .github/workflows/bk-storages.yml
  .github/workflows/bkpaas-auth.yml
  .github/workflows/blue-krill.yml
Due: none

feat:support SM4
  .gitignore
  sdks/blue-krill/blue_krill/encrypt/handler.py
  sdks/blue-krill/blue_krill/encrypt/utils.py
  sdks/blue-krill/blue_krill/models/fields.py
  sdks/blue-krill/tests/conftest.py
  sdks/blue-krill/tests/test_encrypt.py
Due: isort, black, flake8, mypy-blue_krill

fix:support for use in non django projects
  sdks/blue-krill/blue_krill/encrypt/handler.py
  sdks/blue-krill/tests/test_encrypt.py
Due: isort, black, flake8, mypy-blue_krill

fix:support for use in non django projects
  sdks/blue-krill/blue_krill/encrypt/handler.py
  sdks/blue-krill/blue_krill/models/fields.py
  sdks/blue-krill/tests/test_encrypt.py
Due: isort, black, flake8, mypy-blue_krill

fix:package sorting issues and add README
  .pre-commit-config.yaml
  sdks/bkapi-component-open/bkapi_component/open/client.py
  sdks/bkapi-component-open/bkapi_component/open/shortcuts.py
  sdks/blue-krill/README.md
  sdks/blue-krill/blue_krill/models/fields.py
Due: isort, black, flake8, mypy-blue_krill

docs:README changed
  sdks/blue-krill/README.md
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy-blue_krill: any of: ^sdks/blue-krill/ and \.py$
