Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill, mypy-paas-service, mypy

IP check:
  name: Check sensitive info
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude

mypy-blue_krill:
  name: run mypy check for "blue-krill'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"

mypy-paas-service:
  name: run mypy check for "paas-service'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"

mypy:
  name: run mypy for "apigw-manager"
  language: python
  entry: mypy --config-file=sdks/apigw-manager/pyproject.toml

feat: support no-pub
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat: support no-pub
  sdks/apigw-manager/pyproject.toml
Due: IP check

doc: fix bug
  sdks/apigw-manager/README.md
Due: IP check

feat: support no-pub (#182)
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

Revert "feat: support no-pub (#182)"
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/bin/sync-apigateway.sh
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat: update docker image version
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/values.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/Dockerfile
Due: IP check

feat: update apigw docker image version (#184)
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/values.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/Dockerfile
Due: IP check

feat: add support for python 3.11
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/README.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: use special urllib3 version 1.26.20
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check

fix: update blue-krill.yml
  .github/workflows/blue-krill.yml
  sdks/blue-krill/blue_krill/models/better_loaddata/management/commands/better_loaddata.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: update blue-krill.yml
  .github/workflows/blue-krill.yml
Due: IP check

fix: use special urllib3 version 1.26.16
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check

fix: urllib.parse.urlsplit require scheme startswith alpha char
  sdks/blue-krill/tests/data_types/test_url.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat: add support for python 3.11 (#185)
  .github/workflows/blue-krill.yml
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/README.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/models/better_loaddata/management/commands/better_loaddata.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/data_types/test_url.py
  sdks/blue-krill/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: update .ci/blue-krill.yml
  .ci/blue-krill.yml
Due: IP check

fix: update .ci/blue-krill.yml (#186)
  .ci/blue-krill.yml
Due: IP check

Update poetry-build-and-publish.yaml
  .ci/templates/poetry-build-and-publish.yaml
Due: IP check

fix: update blue-krill urllib3 version
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check

fix: update blue-krill urllib3 version (#187)
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check

fix: update blue-krill version to 2.0.6
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: update blue-krill version to 2.0.6 (#188)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat: update bkpaas-auth to 3.0.0
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/core/algorithms.py
  sdks/bkpaas-auth/bkpaas_auth/core/encoder.py
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/tests/test_middlewares.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: update bkpaas-auth to 3.0.0
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
  sdks/bkpaas-auth/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: bkpaas-auth ci
  .github/workflows/bkpaas-auth.yml
  .github/workflows/blue-krill.yml
Due: IP check

fix: bkpaas-auth ci mypy
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/conf.py
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/models.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: bkpaas-auth ci mypy
  .github/workflows/bkpaas-auth.yml
Due: IP check

feat: bkpaas-auth 3.0.0 (#191)
  .github/workflows/bkpaas-auth.yml
  .github/workflows/blue-krill.yml
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/conf.py
  sdks/bkpaas-auth/bkpaas_auth/core/algorithms.py
  sdks/bkpaas-auth/bkpaas_auth/core/encoder.py
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
  sdks/bkpaas-auth/bkpaas_auth/models.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
  sdks/bkpaas-auth/tests/test_middlewares.py
  sdks/bkpaas-auth/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: add StrStructuredEnum & IntStructuredEnum class
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/data_types/enum.py
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/data_types/test_enum.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: resolve #192 conversations
  sdks/blue-krill/blue_krill/data_types/enum.py
  sdks/blue-krill/tests/data_types/test_enum.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: resolve #192 conversations
  sdks/blue-krill/tests/data_types/test_enum.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat: add StrStructuredEnum & IntStructuredEnum class (#192)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/data_types/enum.py
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/data_types/test_enum.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat: paas-service support py3.11
  sdks/paas-service/CHANGES.md
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/paas_service/auth/backends.py
  sdks/paas-service/paas_service/auth/middleware.py
  sdks/paas-service/paas_service/urls.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/poetry.lock
  sdks/paas-service/pyproject.toml
  sdks/paas-service/setup.py
  sdks/paas-service/tests/test_auth.py
  sdks/paas-service/tests/test_login.py
  sdks/paas-service/tests/urls.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix: fix apigw doc link
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check

fix: fix apigw doc link (#194)
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check

feat: update bk-storages to 2.0.0
  .github/workflows/bk-storages.yml
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/README.md
  sdks/bk-storages/bkstorages/__init__.py
  sdks/bk-storages/bkstorages/backends/rgw.py
  sdks/bk-storages/bkstorages/utils.py
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/tests/test_bkrepo.py
  sdks/bk-storages/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: update bk-storages to 2.0.0
  sdks/bk-storages/tests/test_bkrepo.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: resolve #193 conversations
  sdks/paas-service/CHANGES.md
  sdks/paas-service/paas_service/auth/backends.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

Path conditions:
  IP check: any file but: ^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-blue_krill: any of: ^sdks/blue-krill/ and \.py$
  mypy-paas-service: any of: ^sdks/paas-service/ and \.py$
  mypy: (any of: sdks/bkapi-client-core/ and \.py$) or (any of: sdks/apigw-manager/ and \.py$)
