Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill, mypy-paas-service, mypy

IP check:
  name: Check sensitive info
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude

mypy-blue_krill:
  name: run mypy check for "blue-krill'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"

mypy-paas-service:
  name: run mypy check for "paas-service'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"

mypy:
  name: run mypy for "apigw-manager"
  language: python
  entry: mypy --config-file=sdks/apigw-manager/pyproject.toml

refactor: clarify apigw resource backend name docs (#289)
  sdks/apigw-manager/docs/sync_apigateway.md
  sdks/apigw-manager/examples/django/use-custom-script/support-files/resources.yaml
Due: IP check

feat(apigw-manager): relock poetry.lock and support 3.14 in ci
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/poetry.lock
Due: IP check

feat(bkstorage): support python 3.14
  .github/workflows/bk-storages.yml
  sdks/bk-storages/noxfile.py
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat(bkpaas-auth): support python 3.14
  .github/workflows/bkpaas-auth.yml
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/noxfile.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: version to 4.1.0
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat(blue-krill): support python 3.13/3.14
  .github/workflows/blue-krill.yml
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/noxfile.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: some error
  sdks/blue-krill/blue_krill/secure/dj_environ.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat(WIP, paas-service): support python 3.13/3.14
  .github/workflows/paas-service.yml
  sdks/paas-service/CHANGES.md
  sdks/paas-service/noxfile.py
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat: support python version to 3.11-3.14
  .github/workflows/bkapi-client-core.yml
  sdks/bkapi-client-core/CHANGE.md
  sdks/bkapi-client-core/Makefile
  sdks/bkapi-client-core/bkapi_client_core/__init__.py
  sdks/bkapi-client-core/bkapi_client_core/exceptions.py
  sdks/bkapi-client-core/noxfile.py
  sdks/bkapi-client-core/poetry.lock
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkapi-client-core/requirements.txt
  sdks/bkapi-client-core/tests/test_django_helper.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

refactor: migrate to Python 3.11+ native type annotations
  sdks/bkapi-client-core/bkapi_client_core/apigateway/client.py
  sdks/bkapi-client-core/bkapi_client_core/apigateway/django_helper.py
  sdks/bkapi-client-core/bkapi_client_core/auth.py
  sdks/bkapi-client-core/bkapi_client_core/base.py
  sdks/bkapi-client-core/bkapi_client_core/client.py
  sdks/bkapi-client-core/bkapi_client_core/config.py
  sdks/bkapi-client-core/bkapi_client_core/django_helper.py
  sdks/bkapi-client-core/bkapi_client_core/esb/client.py
  sdks/bkapi-client-core/bkapi_client_core/esb/django_helper.py
  sdks/bkapi-client-core/bkapi_client_core/exceptions.py
  sdks/bkapi-client-core/bkapi_client_core/prometheus.py
  sdks/bkapi-client-core/bkapi_client_core/property.py
  sdks/bkapi-client-core/bkapi_client_core/session.py
  sdks/bkapi-client-core/bkapi_client_core/utils.py
  sdks/bkapi-client-core/demo/client.py
  sdks/bkapi-client-core/demo/test_client.py
  sdks/bkapi-client-core/requirements.txt
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

ci: update ci os version
  .github/workflows/bkapi-client-core.yml
Due: IP check

feat: update version to 3.1.0
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/bkstorages/__init__.py
  sdks/bk-storages/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat(apigw-manager): relock poetry.lock and support 3.14 in ci (#290)
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/poetry.lock
Due: IP check

feat(blue-krill): support python 3.13/3.14 (#293)
  .github/workflows/blue-krill.yml
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/secure/dj_environ.py
  sdks/blue-krill/noxfile.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat(bkstorage): support python 3.14 (#291)
  .github/workflows/bk-storages.yml
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/bkstorages/__init__.py
  sdks/bk-storages/noxfile.py
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat(bkpaas-auth): support python 3.14 (#292)
  .github/workflows/bkpaas-auth.yml
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/noxfile.py
  sdks/bkpaas-auth/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: relock poetry.lock
  sdks/paas-service/poetry.lock
Due: none

fix: update pydantic version to support python 3.14
  sdks/paas-service/poetry.lock
  sdks/paas-service/pyproject.toml
Due: IP check

feat(paas-service): support python 3.13/3.14 (#294)
  .github/workflows/paas-service.yml
  sdks/paas-service/CHANGES.md
  sdks/paas-service/noxfile.py
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/poetry.lock
  sdks/paas-service/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix(blue-krill): relax django-environ version constraint
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix(blue-krill): relax django-environ version constraint (#297)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix(ci): skip check/test jobs on unrelated release events
  .github/workflows/bk-storages.yml
  .github/workflows/bkpaas-auth.yml
  .github/workflows/blue-krill.yml
  .github/workflows/paas-service.yml
Due: IP check

fix(ci): skip check/test jobs on unrelated release events (#298)
  .github/workflows/bk-storages.yml
  .github/workflows/bkpaas-auth.yml
  .github/workflows/blue-krill.yml
  .github/workflows/paas-service.yml
Due: IP check

fix(apigw-manager): make sdk generation opt-in
  sdks/apigw-manager/bin/sync-apigateway.sh
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
Due: IP check

fix(apigw-manager): make sdk generation opt-in (#299)
  sdks/apigw-manager/bin/sync-apigateway.sh
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
Due: IP check

fix(apigw-manager): parse v2 api responses
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/apply_apigw_permissions.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_stage_mcp_servers.py
  sdks/apigw-manager/src/apigw_manager/core/fetch.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/src/apigw_manager/core/permission.py
  sdks/apigw-manager/src/apigw_manager/core/release.py
  sdks/apigw-manager/src/apigw_manager/core/sync.py
  sdks/apigw-manager/src/apigw_manager/core/utils.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_apply_apigw_permissions.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_sync_apigw_stage_mcp_servers.py
  sdks/apigw-manager/tests/apigw_manager/core/test_hander.py
  sdks/apigw-manager/tests/apigw_manager/core/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(apigw-manager): parse v2 api responses (#300)
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/apply_apigw_permissions.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_stage_mcp_servers.py
  sdks/apigw-manager/src/apigw_manager/core/fetch.py
  sdks/apigw-manager/src/apigw_manager/core/handler.py
  sdks/apigw-manager/src/apigw_manager/core/permission.py
  sdks/apigw-manager/src/apigw_manager/core/release.py
  sdks/apigw-manager/src/apigw_manager/core/sync.py
  sdks/apigw-manager/src/apigw_manager/core/utils.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_apply_apigw_permissions.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_sync_apigw_stage_mcp_servers.py
  sdks/apigw-manager/tests/apigw_manager/core/test_hander.py
  sdks/apigw-manager/tests/apigw_manager/core/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: connect_to_django_user drops time_zone, breaking UserTimezoneMiddleware
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/tests/test_middlewares.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

chore: bump version to 4.1.1
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: connect_to_django_user drops time_zone, breaking UserTimezoneMiddleware (#302)
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/tests/test_middlewares.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat(bkpaas-auth): add Django 6.x support
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/noxfile.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat(bkpaas-auth): add Django 6.x support & bump to 4.2.0 (#303)
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/noxfile.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

Update allowApplyPermission description in sync_apigateway.md
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check

Update allowApplyPermission description in sync_apigateway.md (#304)
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check

docs(apigw-manager): document AI gateway names
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check

docs(apigw-manager): keep AI name exceptions implicit
  sdks/apigw-manager/docs/sync_apigateway.md
Due: IP check

feat: bump to 4.3.0 and support async
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/README.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/core/http.py
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
  sdks/bkpaas-auth/bkpaas_auth/monkey.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/tests/conftest.py
  sdks/bkpaas-auth/tests/core/test_bk_token.py
  sdks/bkpaas-auth/tests/core/test_http.py
  sdks/bkpaas-auth/tests/core/test_services.py
  sdks/bkpaas-auth/tests/core/test_token.py
  sdks/bkpaas-auth/tests/test_backends.py
  sdks/bkpaas-auth/tests/test_middlewares.py
  sdks/bkpaas-auth/tests/test_misc.py
  sdks/bkpaas-auth/tests/test_models.py
  sdks/bkpaas-auth/tests/test_monkey.py
  sdks/bkpaas-auth/tests/utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix(bkpaas-auth): fix async login session ordering and event-loop-bound HTTP clients
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/core/http.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
  sdks/bkpaas-auth/tests/core/test_http.py
  sdks/bkpaas-auth/tests/test_backends.py
  sdks/bkpaas-auth/tests/test_middlewares.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: add missing dep pytest-asyncio in noxfile
  sdks/bkpaas-auth/noxfile.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix(bkpaas-auth): make APIGatewayAuthBackend inherit BaseBackend for async auth support
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/tests/test_backends.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

Path conditions:
  IP check: any file but: ^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-blue_krill: any of: ^sdks/blue-krill/ and \.py$
  mypy-paas-service: any of: ^sdks/paas-service/ and \.py$
  mypy: (any of: sdks/bkapi-client-core/ and \.py$) or (any of: sdks/apigw-manager/ and \.py$)
