Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, isort, black, flake8, mypy-blue_krill, mypy-paas-service

IP check:
  name: Check sensitive info
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run pflake8 --config=pyproject.toml

mypy-blue_krill:
  name: run mypy check for "blue-krill'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"

mypy-paas-service:
  name: run mypy check for "paas-service'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"

fix:. codecc is duplicated
  .gitignore
Due: IP check

fix:encrypt test
  .pre-commit-config.yaml
  sdks/blue-krill/README.md
  sdks/blue-krill/blue_krill/encrypt/handler.py
  sdks/blue-krill/tests/conftest.py
  sdks/blue-krill/tests/test_encrypt.py
Due: IP check, isort, black, flake8, mypy-blue_krill

fix:encrypt test
  readme.md
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
  sdks/apigw-manager/src/apigw_manager/core/fetch.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
  sdks/apigw-manager/tests/conftest.py
  sdks/bk-storages/bkstorages/backends/bkrepo.py
  sdks/bk-storages/bkstorages/backends/rgw.py
  sdks/bk-storages/tests/models.py
  sdks/bk-storages/tests/test_bkrepo.py
  sdks/bk-storages/tests/test_rgw.py
  sdks/bkapi-component-open/bkapi_component/open/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/tests/core/test_services.py
  sdks/bkpaas-auth/tests/test_middlewares.py
  sdks/blue-krill/blue_krill/auth/jwt.py
  sdks/blue-krill/tests/auth/test_jwt.py
  sdks/blue-krill/tests/web/test_std_error.py
Due: IP check, isort, black, flake8, mypy-blue_krill

fix:encrypt test
  sdks/blue-krill/tests/test_encrypt.py
Due: IP check, isort, black, flake8, mypy-blue_krill

fix:encrypt test
  sdks/blue-krill/README.md
Due: IP check

fix:poetry version is not compatible
  .github/workflows/blue-krill.yml
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check

fix:poetry version is not compatible
  sdks/blue-krill/poetry.lock
Due: none

fix:poetry version
  .github/workflows/blue-krill.yml
Due: IP check

feat: MySQLProbe support both pymysql and mysqlclient
  sdks/blue-krill/blue_krill/monitoring/probe/mysql.py
Due: IP check, isort, black, flake8, mypy-blue_krill

minor: fix mypy check
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/monitoring/probe/mysql.py
  sdks/blue-krill/blue_krill/redis_tools/sentinel.py
  sdks/blue-krill/pyproject.toml
Due: IP check, isort, black, flake8, mypy-blue_krill

minor: update blue-krill version info
  sdks/blue-krill/blue_krill/__init__.py
Due: IP check, isort, black, flake8, mypy-blue_krill

feat: support use pydantic 1.7+ & 2.0+
  .github/workflows/blue-krill.yml
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check, isort, black, flake8, mypy-blue_krill

test: fix pytest error
  .github/workflows/blue-krill.yml
  sdks/blue-krill/blue_krill/editions/editionctl.py
  sdks/blue-krill/blue_krill/models/better_loaddata/management/commands/better_loaddata.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/web/test_std_error.py
Due: IP check, isort, black, flake8, mypy-blue_krill

test: fix dj_environ unittest and mypy
  sdks/blue-krill/blue_krill/monitoring/probe/mysql.py
  sdks/blue-krill/tests/secure/test_dj_environ.py
Due: IP check, isort, black, flake8, mypy-blue_krill

minor: lock poetry version to 1.5.1 in action
  .github/workflows/blue-krill.yml
Due: IP check

feat: support use pydantic 1.7+ & 2.0+, drop support for python 3.6 & 3.7 (#116)
  .github/workflows/blue-krill.yml
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/editions/editionctl.py
  sdks/blue-krill/blue_krill/models/better_loaddata/management/commands/better_loaddata.py
  sdks/blue-krill/blue_krill/monitoring/probe/mysql.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/secure/test_dj_environ.py
  sdks/blue-krill/tests/web/test_std_error.py
Due: IP check, isort, black, flake8, mypy-blue_krill

add stream ci
  .ci/bk-storages.yml
  .ci/bkpaas-auth.yml
  .ci/blue-krill.yml
  .ci/paas-service.yml
  .ci/templates/poetry-build-and-publish.yaml
  .ci/templates/publishing-step.yaml
Due: IP check

add stream ci (#117)
  .ci/bk-storages.yml
  .ci/bkpaas-auth.yml
  .ci/blue-krill.yml
  .ci/paas-service.yml
  .ci/templates/poetry-build-and-publish.yaml
  .ci/templates/publishing-step.yaml
Due: IP check

minor: 调整 UploadArtifactory 插件版本
  .ci/templates/poetry-build-and-publish.yaml
  .github/workflows/bkpaas-auth.yml
Due: IP check

minor: 调整 UploadArtifactory 插件版本 (#118)
  .ci/templates/poetry-build-and-publish.yaml
  .github/workflows/bkpaas-auth.yml
Due: IP check

minor: 移除 UploadArtifactory
  .ci/templates/poetry-build-and-publish.yaml
Due: IP check

fix typo
  .ci/templates/poetry-build-and-publish.yaml
Due: IP check

minor: 移除 UploadArtifactory (#119)
  .ci/templates/poetry-build-and-publish.yaml
Due: IP check

fix stream ci
  .ci/templates/poetry-build-and-publish.yaml
Due: IP check

fix stream ci (#120)
  .ci/templates/poetry-build-and-publish.yaml
Due: IP check

minor: 切换基础镜像
  .ci/templates/poetry-build-and-publish.yaml
Due: IP check

minor: 切换基础镜像 (#121)
  .ci/templates/poetry-build-and-publish.yaml
Due: IP check

minor: 切换基础镜像 (#122)
  .ci/templates/poetry-build-and-publish.yaml
Due: IP check

fix stream ci (#123)
  .ci/templates/poetry-build-and-publish.yaml
Due: IP check

fix stream ci (#124)
  .ci/templates/poetry-build-and-publish.yaml
Due: IP check

修复 sync-apigateway 在后端接口失败时未退出的问题
  sdks/apigw-manager/demo/bin/sync-apigateway
Due: IP check

修改版本号为 2.0.1
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
Due: IP check

fix:在使用django setting配置时，encrypt handler在完成初始化后就不会再修改配置。现在修改为handler配置始终与django setting保持一致，实现动态切换。
  sdks/blue-krill/blue_krill/encrypt/handler.py
  sdks/blue-krill/tests/test_encrypt.py
Due: IP check, isort, black, flake8, mypy-blue_krill

fix:在使用django setting配置时，encrypt handler在完成初始化后就不会再修改配置。现在修改为handler配置始终与django setting保持一致，实现动态切换。
  sdks/blue-krill/blue_krill/encrypt/handler.py
Due: IP check, isort, black, flake8, mypy-blue_krill

fix:在使用django setting配置时，encrypt handler在完成初始化后就不会再修改配置。现在修改为handler配置始终与django setting保持一致，实现动态切换。
  sdks/blue-krill/tests/test_encrypt.py
Due: IP check, isort, black, flake8, mypy-blue_krill

修复 sync-apigateway 在后端接口失败时未退出的问题 (#125)
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/demo/bin/sync-apigateway
  sdks/apigw-manager/pyproject.toml
Due: IP check

Path conditions:
  IP check: any file but: ^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy-blue_krill: any of: ^sdks/blue-krill/ and \.py$
  mypy-paas-service: any of: ^sdks/paas-service/ and \.py$
