Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill, mypy-paas-service, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        exclude: "^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml"
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix  
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude 
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-blue_krill
        name: run mypy check for "blue-krill'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/blue-krill/'
      - id: mypy-paas-service
        name: run mypy check for "paas-service'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/paas-service/'
  # sdk bkapi-client-core
  - repo: local
    hooks:
      - id: mypy
        name: run mypy for "bkapi-client-core"
        language: python
        types: [python]
        entry: mypy --config-file=sdks/bkapi-client-core/pyproject.toml
        files: sdks/bkapi-client-core/
  # sdk apigw-manager
  - repo: local
    hooks:
      - id: mypy
        name: run mypy for "apigw-manager"
        language: python
        types: [python]
        entry: mypy --config-file=sdks/apigw-manager/pyproject.toml
        files: sdks/apigw-manager/

test: fix
  sdks/blue-krill/tests/async_utils/test_poll_task.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

refactor: minor
  sdks/blue-krill/blue_krill/async_utils/poll_task.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: subclass naming conflict in __init_subclass__ for TaskPoller and… (#242)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/async_utils/poll_task.py
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/async_utils/test_poll_task.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat(apigw_manager/plugin): 新增 4 个插件
  sdks/apigw-manager/docs/plugin-use-guide.md
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix
  sdks/apigw-manager/docs/plugin-use-guide.md
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(apigw-manager): fix verison
  sdks/apigw-manager/pyproject.toml
Due: IP check

feat: User 添加 time_zone
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/core/user_info.py
  sdks/bkpaas-auth/bkpaas_auth/models.py
  sdks/bkpaas-auth/tests/conftest.py
  sdks/bkpaas-auth/tests/test_backends.py
  sdks/bkpaas-auth/tests/test_models.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: 移除不必要的 JWT 的修改
  sdks/bkpaas-auth/bkpaas_auth/backends.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

test: 添加测试
  sdks/bkpaas-auth/tests/conftest.py
  sdks/bkpaas-auth/tests/test_backends.py
  sdks/bkpaas-auth/tests/test_models.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

test: 修改测试逻辑
  sdks/bkpaas-auth/tests/conftest.py
  sdks/bkpaas-auth/tests/test_backends.py
  sdks/bkpaas-auth/tests/test_models.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

test: 修复测试
  sdks/bkpaas-auth/tests/test_models.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: User 模型添加 time_zone 字段 (#244)
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/core/user_info.py
  sdks/bkpaas-auth/bkpaas_auth/models.py
  sdks/bkpaas-auth/tests/conftest.py
  sdks/bkpaas-auth/tests/test_backends.py
  sdks/bkpaas-auth/tests/test_models.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

refactor: update pyproject.toml and use nox
  sdks/bkpaas-auth/.flake8
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/README.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/noxfile.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
  sdks/bkpaas-auth/tests/core/test_bk_token.py
  sdks/bkpaas-auth/tests/core/test_token.py
  sdks/bkpaas-auth/tests/test_backends.py
  sdks/bkpaas-auth/tests/test_middlewares.py
  sdks/bkpaas-auth/tests/utils.py
  sdks/bkpaas-auth/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check

refactor: fix ruff issues
  .github/workflows/bkpaas-auth.yml
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/core/plugins.py
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/monkey.py
  sdks/bkpaas-auth/bkpaas_auth/utils.py
  sdks/bkpaas-auth/tests/core/test_encoder.py
  sdks/bkpaas-auth/tests/core/test_services.py
  sdks/bkpaas-auth/tests/test_models.py
  sdks/bkpaas-auth/tests/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

chore: update CI config
  .github/workflows/bkpaas-auth.yml
Due: IP check

chore: update CI config
  .github/workflows/bkpaas-auth.yml
  .github/workflows/blue-krill.yml
Due: IP check

bkpaas-auth: bump to 3.1.3 & fix linter issues & upgrade to poetry v2 (#245)
  .github/workflows/bkpaas-auth.yml
  .github/workflows/blue-krill.yml
  sdks/bkpaas-auth/.flake8
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/README.md
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/backends.py
  sdks/bkpaas-auth/bkpaas_auth/core/plugins.py
  sdks/bkpaas-auth/bkpaas_auth/core/services.py
  sdks/bkpaas-auth/bkpaas_auth/core/token.py
  sdks/bkpaas-auth/bkpaas_auth/monkey.py
  sdks/bkpaas-auth/bkpaas_auth/utils.py
  sdks/bkpaas-auth/noxfile.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/setup.py
  sdks/bkpaas-auth/tests/core/test_bk_token.py
  sdks/bkpaas-auth/tests/core/test_encoder.py
  sdks/bkpaas-auth/tests/core/test_services.py
  sdks/bkpaas-auth/tests/core/test_token.py
  sdks/bkpaas-auth/tests/test_backends.py
  sdks/bkpaas-auth/tests/test_middlewares.py
  sdks/bkpaas-auth/tests/test_models.py
  sdks/bkpaas-auth/tests/test_utils.py
  sdks/bkpaas-auth/tests/utils.py
  sdks/bkpaas-auth/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: bKRepoManager not support endpoint_url with url path
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/storages/blobstore/bkrepo.py
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: bKRepoManager not support endpoint_url with url path (#246)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/storages/blobstore/bkrepo.py
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat(apigw_manager/plugin): 新增 4 个插件 (#243)
  sdks/apigw-manager/docs/plugin-use-guide.md
  sdks/apigw-manager/src/apigw_manager/plugin/config.py
  sdks/apigw-manager/tests/apigw_manager/plugin/test_config.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: bKGenericRepoClient not support endpoint_url with url path
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/bkstorages/__init__.py
  sdks/bk-storages/bkstorages/backends/bkrepo.py
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/tests/test_bkrepo.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: bKGenericRepoClient not support endpoint_url with url path (#247)
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/bkstorages/__init__.py
  sdks/bk-storages/bkstorages/backends/bkrepo.py
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/tests/test_bkrepo.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

build: upgrade to poetry v2
  sdks/bk-storages/.pre-commit-config.yaml
  sdks/bk-storages/noxfile.py
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check

ci: update github workflow
  .github/workflows/bk-storages.yml
Due: IP check

build: minor
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
Due: IP check

build: minor
  sdks/bk-storages/pyproject.toml
Due: IP check

build: minor
  sdks/bk-storages/poetry.lock
Due: none

test: minor
  sdks/bk-storages/noxfile.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

build: revert moto and boto3 sdk
  sdks/bk-storages/noxfile.py
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/tests/test_rgw.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

test: fix
  sdks/bk-storages/tests/test_rgw.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

style: minor
  sdks/bk-storages/bkstorages/backends/bkrepo.py
  sdks/bk-storages/bkstorages/backends/rgw.py
  sdks/bk-storages/tests/conftest.py
  sdks/bk-storages/tests/test_bkrepo.py
  sdks/bk-storages/tests/test_rgw.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

docs: minor
  sdks/bk-storages/bkstorages/backends/rgw.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

build: upgrade to poetry v2 (#248)
  .github/workflows/bk-storages.yml
  sdks/bk-storages/.pre-commit-config.yaml
  sdks/bk-storages/bkstorages/backends/bkrepo.py
  sdks/bk-storages/bkstorages/backends/rgw.py
  sdks/bk-storages/noxfile.py
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/tests/conftest.py
  sdks/bk-storages/tests/test_bkrepo.py
  sdks/bk-storages/tests/test_rgw.py
  sdks/bk-storages/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check

chore: update version to 2.0.3
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/bkstorages/__init__.py
  sdks/bk-storages/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

chore: update version to 2.0.3 (#249)
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/bkstorages/__init__.py
  sdks/bk-storages/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check
