Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-blue_krill

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run pflake8 --config=pyproject.toml

mypy-blue_krill:
  name: run mypy check for "blue-krill'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"

add SentinelBackend & RedisSentinelProbe (#83)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/README.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/data_types/url.py
  sdks/blue-krill/blue_krill/monitoring/probe/redis.py
  sdks/blue-krill/blue_krill/redis_tools/sentinel.py
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/data_types/test_url.py
  sdks/blue-krill/tests/test_redis_tools.py
Due: isort, black, flake8, mypy-blue_krill

ci(blue_krill): lock flake8 version: flake8==4.0.1 pyproject-flake8==0.0.1a4
  .github/workflows/blue-krill.yml
Due: none

ci(blue_krill): lock flake8 version: flake8==4.0.1 pyproject-flake8==0.0.1a4 (#84)
  .github/workflows/blue-krill.yml
Due: none

feat: add django_utils module
  sdks/blue-krill/Makefile
  sdks/blue-krill/README.md
  sdks/blue-krill/blue_krill/async_utils/django_utils.py
  sdks/blue-krill/tests/async_utils/test_django_utils.py
Due: isort, black, flake8, mypy-blue_krill

fix: update version
  sdks/blue-krill/pyproject.toml
Due: none

feat: update public key manager
  sdks/apigw-manager/src/apigw_manager/apigw/helper.py
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_authentication.py
Due: isort, black, flake8

feat: update PublicKeyManager
  sdks/apigw-manager/src/apigw_manager/apigw/helper.py
Due: isort, black, flake8

feat: add k8s secret public key manager
  sdks/apigw-manager/demo/settings.py
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/command.py
  sdks/apigw-manager/src/apigw_manager/apigw/helper.py
  sdks/apigw-manager/src/apigw_manager/apigw/k8s_helper.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/fetch_apigw_public_key.py
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_apigw_public_key.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_k8s_helper.py
  sdks/apigw-manager/tests/conftest.py
Due: isort, black, flake8

fix: add default issuer
  sdks/apigw-manager/src/apigw_manager/apigw/k8s_helper.py
Due: isort, black, flake8

feat: install kubernetes on docker build
  sdks/apigw-manager/Dockerfile
Due: none

fix: remove labels
  sdks/apigw-manager/src/apigw_manager/apigw/k8s_helper.py
Due: isort, black, flake8

docs: 更新 readme
  readme.md
  readme_en.md
Due: none

docs(paas-service): 添加版权头
  sdks/paas-service/manage.py
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/paas_service/admin.py
  sdks/paas-service/paas_service/apps.py
  sdks/paas-service/paas_service/auth/__init__.py
  sdks/paas-service/paas_service/auth/backends.py
  sdks/paas-service/paas_service/auth/decorator.py
  sdks/paas-service/paas_service/auth/middleware.py
  sdks/paas-service/paas_service/base_vendor.py
  sdks/paas-service/paas_service/constants.py
  sdks/paas-service/paas_service/management/__init__.py
  sdks/paas-service/paas_service/management/commands/__init__.py
  sdks/paas-service/paas_service/management/commands/clean_deleting_instances.py
  sdks/paas-service/paas_service/migrations/0001_initial.py
  sdks/paas-service/paas_service/migrations/0002_serviceinstance_need_to_delete.py
  sdks/paas-service/paas_service/migrations/0003_auto_20200102_2209.py
  sdks/paas-service/paas_service/migrations/0004_serviceinstanceconfig.py
  sdks/paas-service/paas_service/migrations/0005_auto_20210202_1055.py
  sdks/paas-service/paas_service/migrations/0006_auto_20210223_0948.py
  sdks/paas-service/paas_service/migrations/0007_auto_20220426_0225.py
  sdks/paas-service/paas_service/migrations/0008_auto_20220426_0429.py
  sdks/paas-service/paas_service/migrations/__init__.py
  sdks/paas-service/paas_service/mixins.py
  sdks/paas-service/paas_service/models.py
  sdks/paas-service/paas_service/serializers.py
  sdks/paas-service/paas_service/tasks.py
  sdks/paas-service/paas_service/urls.py
  sdks/paas-service/paas_service/utils.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/setup.py
  sdks/paas-service/tests/__init__.py
  sdks/paas-service/tests/conftest.py
  sdks/paas-service/tests/settings.py
  sdks/paas-service/tests/test_apis.py
  sdks/paas-service/tests/test_auth.py
  sdks/paas-service/tests/test_login.py
  sdks/paas-service/tests/test_specs.py
  sdks/paas-service/tests/test_utils.py
  sdks/paas-service/tests/urls.py
Due: isort, black, flake8

test(paas-service): 修改部分测试数据
  sdks/paas-service/README.md
  sdks/paas-service/poetry.lock
  sdks/paas-service/pyproject.toml
  sdks/paas-service/tests/settings.py
Due: isort, black, flake8

docs(paas-service): 添加版权申明
  sdks/paas-service/manage.py
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/paas_service/admin.py
  sdks/paas-service/paas_service/apps.py
  sdks/paas-service/paas_service/auth/__init__.py
  sdks/paas-service/paas_service/auth/backends.py
  sdks/paas-service/paas_service/auth/decorator.py
  sdks/paas-service/paas_service/auth/middleware.py
  sdks/paas-service/paas_service/base_vendor.py
  sdks/paas-service/paas_service/constants.py
  sdks/paas-service/paas_service/management/__init__.py
  sdks/paas-service/paas_service/management/commands/__init__.py
  sdks/paas-service/paas_service/management/commands/clean_deleting_instances.py
  sdks/paas-service/paas_service/migrations/0001_initial.py
  sdks/paas-service/paas_service/migrations/0002_serviceinstance_need_to_delete.py
  sdks/paas-service/paas_service/migrations/0003_auto_20200102_2209.py
  sdks/paas-service/paas_service/migrations/0004_serviceinstanceconfig.py
  sdks/paas-service/paas_service/migrations/0005_auto_20210202_1055.py
  sdks/paas-service/paas_service/migrations/0006_auto_20210223_0948.py
  sdks/paas-service/paas_service/migrations/0007_auto_20220426_0225.py
  sdks/paas-service/paas_service/migrations/0008_auto_20220426_0429.py
  sdks/paas-service/paas_service/migrations/__init__.py
  sdks/paas-service/paas_service/mixins.py
  sdks/paas-service/paas_service/models.py
  sdks/paas-service/paas_service/serializers.py
  sdks/paas-service/paas_service/tasks.py
  sdks/paas-service/paas_service/urls.py
  sdks/paas-service/paas_service/utils.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/setup.py
  sdks/paas-service/tests/__init__.py
  sdks/paas-service/tests/conftest.py
  sdks/paas-service/tests/settings.py
  sdks/paas-service/tests/test_apis.py
  sdks/paas-service/tests/test_auth.py
  sdks/paas-service/tests/test_login.py
  sdks/paas-service/tests/test_specs.py
  sdks/paas-service/tests/test_utils.py
  sdks/paas-service/tests/urls.py
Due: isort, black, flake8

docs(paas-service): 注释文档修改
  sdks/paas-service/paas_service/views.py
Due: isort, black, flake8

Fix mypy issues
  sdks/paas-service/poetry.lock
  sdks/paas-service/pyproject.toml
  sdks/paas-service/tests/test_specs.py
Due: isort, black, flake8

style: 修改 pre-commit 配置
  .pre-commit-config.yaml
  sdks/paas-service/.pre-commit-config.yaml
  sdks/paas-service/manage.py
Due: isort, black, flake8

docs(paas-service): 版权申明格式修改
  sdks/paas-service/manage.py
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/paas_service/admin.py
  sdks/paas-service/paas_service/apps.py
  sdks/paas-service/paas_service/auth/__init__.py
  sdks/paas-service/paas_service/auth/backends.py
  sdks/paas-service/paas_service/auth/decorator.py
  sdks/paas-service/paas_service/auth/middleware.py
  sdks/paas-service/paas_service/base_vendor.py
  sdks/paas-service/paas_service/constants.py
  sdks/paas-service/paas_service/management/__init__.py
  sdks/paas-service/paas_service/management/commands/__init__.py
  sdks/paas-service/paas_service/management/commands/clean_deleting_instances.py
  sdks/paas-service/paas_service/migrations/0001_initial.py
  sdks/paas-service/paas_service/migrations/0002_serviceinstance_need_to_delete.py
  sdks/paas-service/paas_service/migrations/0003_auto_20200102_2209.py
  sdks/paas-service/paas_service/migrations/0004_serviceinstanceconfig.py
  sdks/paas-service/paas_service/migrations/0005_auto_20210202_1055.py
  sdks/paas-service/paas_service/migrations/0006_auto_20210223_0948.py
  sdks/paas-service/paas_service/migrations/0007_auto_20220426_0225.py
  sdks/paas-service/paas_service/migrations/0008_auto_20220426_0429.py
  sdks/paas-service/paas_service/migrations/__init__.py
  sdks/paas-service/paas_service/mixins.py
  sdks/paas-service/paas_service/models.py
  sdks/paas-service/paas_service/serializers.py
  sdks/paas-service/paas_service/tasks.py
  sdks/paas-service/paas_service/urls.py
  sdks/paas-service/paas_service/utils.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/setup.py
  sdks/paas-service/tests/__init__.py
  sdks/paas-service/tests/conftest.py
  sdks/paas-service/tests/settings.py
  sdks/paas-service/tests/test_apis.py
  sdks/paas-service/tests/test_auth.py
  sdks/paas-service/tests/test_login.py
  sdks/paas-service/tests/test_specs.py
  sdks/paas-service/tests/test_utils.py
  sdks/paas-service/tests/urls.py
Due: isort, black, flake8

chore(paas-service): 1.1.4 版本
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/pyproject.toml
Due: isort, black, flake8

docs(paas-service): 添加 1.1.4 版本日志
  sdks/paas-service/CHANGES.md
Due: none

feat: update version
  .gitignore
  sdks/bkapi-client-core/Makefile
  sdks/bkapi-client-core/bkapi_client_core/__init__.py
  sdks/bkapi-client-core/pyproject.toml
Due: isort, black, flake8

feat: update version
  .gitignore
  sdks/bkapi-client-core/Makefile
  sdks/bkapi-client-core/bkapi_client_core/__init__.py
  sdks/bkapi-client-core/poetry.lock
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkapi-client-core/requirements.txt
  sdks/bkapi-client-core/requirements_dev.txt
  sdks/bkapi-client-core/requirements_tox.txt
Due: isort, black, flake8

fix: pin the requirements versions
  .github/workflows/apigw-manager.yml
  .github/workflows/bkapi-client-core.yml
Due: none

build: downgrade tox-gh-actions
  .github/workflows/apigw-manager.yml
  .github/workflows/bkapi-client-core.yml
Due: none

fix: do not publish to tencent pypi
  sdks/apigw-manager/Makefile
Due: none

build: fix for poetry
  .github/workflows/apigw-manager.yml
Due: none

build: upgrade poetry
  .github/workflows/apigw-manager.yml
Due: none

build: update poetry version by params
  .github/workflows/apigw-manager.yml
Due: none

build: remove tox
  .github/workflows/apigw-manager.yml
Due: none

fix command create_version_and_release_apigw
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/src/apigw_manager/core/fetch.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
Due: isort, black, flake8

update test_create_version_and_release_apigw.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
Due: isort, black, flake8

update poetry to 1.3.1
  .github/workflows/apigw-manager.yml
Due: none

update poetry to 1.1.15
  .github/workflows/apigw-manager.yml
  sdks/apigw-manager/poetry.lock
Due: none

update definition.yaml
  sdks/apigw-manager/definition.yaml
Due: none

remove LegacyVersion
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
  sdks/apigw-manager/src/apigw_manager/core/fetch.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
Due: isort, black, flake8

更新证书
  LICENSE
  License.txt
Due: none

fix LegacyVersion removed
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
Due: isort, black, flake8

update change.md
  sdks/apigw-manager/CHANGE.md
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy-blue_krill: any of: ^sdks/blue-krill/ and \.py$
