Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill, mypy-paas-service, mypy

IP check:
  name: Check sensitive info
  verbose: true
  language: system
  entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude

mypy-blue_krill:
  name: run mypy check for "blue-krill'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"

mypy-paas-service:
  name: run mypy check for "paas-service'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"

mypy:
  name: run mypy for "apigw-manager"
  language: python
  entry: mypy --config-file=sdks/apigw-manager/pyproject.toml

Revert "test: bk-storages 的 python 最小依赖修改为 3.10"
  sdks/bk-storages/noxfile.py
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

Revert "fix: update cryptography to >= 46.0.7"
  sdks/apigw-manager/poetry.lock
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check

Revert "test: fix ci test"
  .ci/blue-krill.yml
  .github/workflows/blue-krill.yml
Due: IP check

revert: requirements_tox.txt
  sdks/apigw-manager/requirements_tox.txt
Due: IP check

test: fix ci test, remove min python require 3.9 in bk-storages
  .github/workflows/bk-storages.yml
  sdks/bk-storages/noxfile.py
  sdks/blue-krill/poetry.lock
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: min python version is 3.10 in bk-strorages
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
Due: IP check

test: update pytest >=7.0.0
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
Due: IP check

chore: require python>=3.11 and drop six
  .github/workflows/bk-storages.yml
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/bkstorages/backends/rgw.py
  sdks/bk-storages/bkstorages/utils.py
  sdks/bk-storages/noxfile.py
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/tests/test_rgw.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: upgrade django 5.2 toolchain
  sdks/bk-storages/noxfile.py
  sdks/bk-storages/poetry.lock
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/tests/conftest.py
  sdks/bk-storages/tests/test_rgw.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

docs: modernize for django 5.x
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/README.md
Due: IP check

fix: update bk-storages version to 3.0.0
  sdks/bk-storages/bkstorages/__init__.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: update bk-storages version to 3.0.0
  sdks/bk-storages/pyproject.toml
Due: IP check

feat: require Python >=3.11,<3.14 and drop six
  sdks/bkpaas-auth/bkpaas_auth/__init__.py
  sdks/bkpaas-auth/bkpaas_auth/core/encoder.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: support Django 5.2 LTS
  .github/workflows/bkpaas-auth.yml
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/bkpaas_auth/core/encoder.py
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
  sdks/bkpaas-auth/noxfile.py
  sdks/bkpaas-auth/poetry.lock
  sdks/bkpaas-auth/pyproject.toml
  sdks/bkpaas-auth/tests/conftest.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

fix: some test error
  sdks/bkpaas-auth/bkpaas_auth/middlewares.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

test: some test error
  sdks/bkpaas-auth/bkpaas_auth/core/encoder.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

feat: upgrade cryptography to 48.0.0
  sdks/bk-storages/poetry.lock
Due: none

feat: require Python >=3.11,<3.13, drop six
  .ci/blue-krill.yml
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/README.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/auth/jwt.py
  sdks/blue-krill/blue_krill/encoding.py
  sdks/blue-krill/blue_krill/text.py
  sdks/blue-krill/noxfile.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

feat: upgrade django to 5.2
  .github/workflows/blue-krill.yml
  sdks/blue-krill/blue_krill/models/fields.py
  sdks/blue-krill/noxfile.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/conftest.py
  sdks/blue-krill/tests/models/test_fields.py
  sdks/blue-krill/tests/storages/test_s3.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: some check error
  sdks/blue-krill/blue_krill/encoding.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: some error when drop six
  sdks/blue-krill/tests/auth/test_jwt.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: some mypy error when upgrade redis
  sdks/blue-krill/blue_krill/redis_tools/sentinel.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: ruff check error
  sdks/blue-krill/blue_krill/redis_tools/sentinel.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

fix: some security issues in apigw-manager
  sdks/apigw-manager/poetry.lock
Due: none

test(drf): cover YAML generation commands
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_definition_yaml.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/test_generate_definition_yaml.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/test_generate_resources_yaml.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_apps.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix(drf): make logging path test platform-aware
  sdks/apigw-manager/tests/apigw_manager/drf/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

docs: fix some docs and a code style
  sdks/bk-storages/CHANGE.md
  sdks/bk-storages/README.md
  sdks/bk-storages/bkstorages/backends/rgw.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

docs: rewrite some docs and fix some style
  sdks/bkpaas-auth/CHANGES.md
  sdks/bkpaas-auth/README.md
Due: IP check

fix: rewrite CHANGE.md and rewrite some coment
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/redis_tools/sentinel.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

Revert "fix: some security issues in apigw-manager"
  sdks/apigw-manager/poetry.lock
Due: none

fix: upgrade python request min version to 3.11
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/tox.ini
Due: IP check

fix: upgrade django to 5.2.x
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/demo/settings.py
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

fix: update some security package deps
  sdks/apigw-manager/poetry.lock
  sdks/apigw-manager/pyproject.toml
Due: IP check

fix: update github workflows python version
  .github/workflows/apigw-manager.yml
Due: IP check

fix: update tox file
  sdks/apigw-manager/requirements_tox.txt
Due: IP check

feat(apigw-manager): improve MCP Server sync docs and template fields
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/docs/sync_apigateway.md
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
Due: IP check

fix: tolerate pymysql import OSError in demo settings
  sdks/apigw-manager/demo/settings.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

test(drf): cover YAML generation commands (#277)
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/generate_definition_yaml.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/test_generate_definition_yaml.py
  sdks/apigw-manager/tests/apigw_manager/drf/management/commands/test_generate_resources_yaml.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_apps.py
  sdks/apigw-manager/tests/apigw_manager/drf/test_utils.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy

feat(mcp_servers): add raw_response_enabled field and mark status as required
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/docs/sync_apigateway.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/definition.yaml
  sdks/apigw-manager/examples/django/use-custom-script/support-files/definition.yaml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
Due: IP check

feat(apigw-manager): improve MCP Server sync docs and template fields (#278)
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/docs/sync_apigateway.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/definition.yaml
  sdks/apigw-manager/examples/django/use-custom-script/support-files/definition.yaml
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/drf/management/commands/data/definition.yaml
Due: IP check

Path conditions:
  IP check: any file but: ^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-blue_krill: any of: ^sdks/blue-krill/ and \.py$
  mypy-paas-service: any of: ^sdks/paas-service/ and \.py$
  mypy: (any of: sdks/bkapi-client-core/ and \.py$) or (any of: sdks/apigw-manager/ and \.py$)
