Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-blue_krill

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: script
        entry: pre_commit_hooks/rtx.sh
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: script
        entry: pre_commit_hooks/ip.sh
      - id: isort
        name: isort
        language: python
        types: [python]
        pass_filenames: false
        entry: isort --settings-path=pyproject.toml .
      - id: black
        name: black
        language: python
        types: [python]
        pass_filenames: false
        entry: black --config=pyproject.toml .
      - id: flake8
        name: flak8
        language: python
        types: [python]
        pass_filenames: false
        entry: pflake8 --config=pyproject.toml

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-blue_krill
        name: run mypy check for "blue-krill'
        language: python
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/blue-krill/'

docs: update readme
  sdks/apigw-manager/README.md
Due: none

feat: add accept language header
  sdks/bkapi-client-core/bkapi_client_core/__init__.py
  sdks/bkapi-client-core/bkapi_client_core/apigateway/django_helper.py
  sdks/bkapi-client-core/bkapi_client_core/django_helper.py
  sdks/bkapi-client-core/bkapi_client_core/esb/client.py
  sdks/bkapi-client-core/bkapi_client_core/esb/django_helper.py
  sdks/bkapi-client-core/bkapi_client_core/session.py
  sdks/bkapi-client-core/poetry.lock
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkapi-client-core/tests/esb/test_client.py
  sdks/bkapi-client-core/tests/test_session.py
Due: isort, black, flake8

feat: add request hook for session
  sdks/bkapi-client-core/bkapi_client_core/session.py
  sdks/bkapi-client-core/tests/test_session.py
Due: isort, black, flake8

fix: support for paas environments
  sdks/apigw-manager/Makefile
  sdks/apigw-manager/README.md
  sdks/apigw-manager/README.rst
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/core/configuration.py
  sdks/bkapi-client-core/bkapi_client_core/__init__.py
  sdks/bkapi-client-core/bkapi_client_core/config.py
  sdks/bkapi-client-core/pyproject.toml
Due: isort, black, flake8

fix: remove stage default value
  sdks/apigw-manager/src/apigw_manager/core/configuration.py
Due: isort, black, flake8

feat: support for bkapi-client-core settings
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
  sdks/apigw-manager/src/apigw_manager/core/configuration.py
  sdks/apigw-manager/tests/conftest.py
Due: isort, black, flake8

feat: set autoescape=False
  sdks/apigw-manager/src/apigw_manager/apigw/helper.py
Due: isort, black, flake8

refactor: add permissions settings
  sdks/apigw-manager/demo/settings.py
Due: isort, black, flake8

chore: update version
  sdks/apigw-manager/pyproject.toml
Due: none

chore: add docs settings
  sdks/apigw-manager/demo/settings.py
Due: isort, black, flake8

feat: add safe mode for sync resource docs
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_resource_docs_by_archive.py
Due: isort, black, flake8

feat: add default args for sync_resource_docs_by_archive command
  sdks/apigw-manager/demo/bin/sync-apigateway
Due: none

(blue-krill)Feature: add .set_data() hook for APIError type
  .pre-commit-config.yaml
  sdks/blue-krill/.pre-commit-config.yaml
  sdks/blue-krill/README.md
  sdks/blue-krill/blue_krill/web/std_error.py
  sdks/blue-krill/tests/web/test_std_error.py
Due: isort, black, flake8, mypy-blue_krill

feat: update blue_krill.auth for paas
  sdks/blue-krill/blue_krill/auth/client.py
  sdks/blue-krill/blue_krill/auth/jwt.py
  sdks/blue-krill/blue_krill/auth/utils.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/tests/auth/test_utils.py
Due: isort, black, flake8, mypy-blue_krill

chore(pkg): update django-environ pkg version to 0.8.1
  .pre-commit-config.yaml
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
  sdks/apigw-manager/tests/conftest.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: isort, black, flake8

feat(web str error): support lazy str, such as django i18n gettext
  sdks/blue-krill/blue_krill/web/std_error.py
Due: isort, black, flake8, mypy-blue_krill

feat: update blue_krill.auth for paas
  sdks/blue-krill/blue_krill/auth/client.py
  sdks/blue-krill/blue_krill/auth/jwt.py
  sdks/blue-krill/blue_krill/auth/utils.py
  sdks/blue-krill/tests/auth/test_jwt.py
Due: isort, black, flake8, mypy-blue_krill

chore(pkg): update django-environ pkg version to 0.8.1 (#53)
  .pre-commit-config.yaml
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
  sdks/apigw-manager/tests/conftest.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: isort, black, flake8

fix(cr): fix discussion
  sdks/blue-krill/blue_krill/web/std_error.py
Due: isort, black, flake8, mypy-blue_krill

fix(cr): discussion
  .pre-commit-config.yaml
  sdks/blue-krill/tests/web/test_std_error.py
Due: isort, black, flake8, mypy-blue_krill

feat(web str error): support lazy str, such as django i18n gettext (#54)
  .pre-commit-config.yaml
  sdks/blue-krill/blue_krill/web/std_error.py
  sdks/blue-krill/tests/web/test_std_error.py
Due: isort, black, flake8, mypy-blue_krill

(blue-krill)Feature: add .set_data() hook for APIError type (#51)
  .pre-commit-config.yaml
  sdks/blue-krill/.pre-commit-config.yaml
  sdks/blue-krill/README.md
  sdks/blue-krill/blue_krill/web/std_error.py
  sdks/blue-krill/tests/web/test_std_error.py
Due: isort, black, flake8, mypy-blue_krill

(blue-krill)Feature: update blue_krill.auth for paas (#52)
  sdks/blue-krill/blue_krill/auth/client.py
  sdks/blue-krill/blue_krill/auth/jwt.py
  sdks/blue-krill/blue_krill/auth/utils.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/tests/auth/test_jwt.py
  sdks/blue-krill/tests/auth/test_utils.py
Due: isort, black, flake8, mypy-blue_krill

(blue-krill) bump to 1.1.0
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/pyproject.toml
Due: isort, black, flake8, mypy-blue_krill

(blue-krill) bump to 1.1.0 (#55)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/pyproject.toml
Due: isort, black, flake8, mypy-blue_krill

ci(pre-commit): sensitive info check support pre-commit args
  .pre-commit-config.yaml
Due: none

ci(pre-commit): sensitive info check hook support parallel
  .pre-commit-config.yaml
Due: none

fix: recover from abbrs
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
  sdks/apigw-manager/tests/apigw_manager/apigw/management/commands/test_create_version_and_release_apigw.py
Due: isort, black, flake8

feat: add poetry-git-tag command
  sdks/Makefile
  sdks/apigw-manager/Makefile
  sdks/bkapi-client-core/Makefile
  sdks/blue-krill/Makefile
Due: none

fix: fix Makefile
  sdks/Makefile
  sdks/apigw-manager/Makefile
Due: none

ci(pre-commit): sensitive info check support pre-commit args (#56)
  .pre-commit-config.yaml
Due: none

feature: 实现 SensitiveURL 支持隐藏 url 中的密码字段
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/blue_krill/data_types/url.py
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/data_types/test_url.py
Due: isort, black, flake8, mypy-blue_krill

feat: check definition if is empty
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/apply_apigw_permissions.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/grant_apigw_permissions.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/sync_apigw_strategies.py
Due: isort, black, flake8

refactor with discussion
  .github/workflows/blue-krill.yml
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/data_types/url.py
  sdks/blue-krill/blue_krill/text.py
  sdks/blue-krill/tests/data_types/test_url.py
  sdks/blue-krill/tests/test_text.py
Due: isort, black, flake8, mypy-blue_krill

minor: 调整 github action 的规则
  .github/workflows/apigw-manager.yml
  .github/workflows/bk-storages.yml
  .github/workflows/bkapi-client-core.yml
  .github/workflows/blue-krill.yml
Due: none

Update blue-krill.yml
  .github/workflows/blue-krill.yml
Due: none

Update apigw-manager.yml
  .github/workflows/apigw-manager.yml
Due: none

feat: update demo settings
  sdks/apigw-manager/demo/settings.py
  sdks/apigw-manager/pyproject.toml
Due: isort, black, flake8

feature: apigw-manager 支持配置 mock_payload 便于在开发环境测试
  sdks/apigw-manager/src/apigw_manager/apigw/authentication.py
  sdks/apigw-manager/src/apigw_manager/apigw/utils.py
  sdks/apigw-manager/src/apigw_manager/core/configuration.py
Due: isort, black, flake8
