Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill, mypy-paas-service, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        exclude: "^(.*/poetry.lock|.*/requirements.txt|.*/requirements_dev.txt)|sdks/apigw-manager/build.yml"
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix  
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude 
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-blue_krill
        name: run mypy check for "blue-krill'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/blue-krill/'
      - id: mypy-paas-service
        name: run mypy check for "paas-service'
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd sdks/paas-service && poetry run mypy . --config-file=./pyproject.toml"
        files: '^sdks/paas-service/'
  # sdk bkapi-client-core
  - repo: local
    hooks:
      - id: mypy
        name: run mypy for "bkapi-client-core"
        language: python
        types: [python]
        entry: mypy --config-file=sdks/bkapi-client-core/pyproject.toml
        files: sdks/bkapi-client-core/
  # sdk apigw-manager
  - repo: local
    hooks:
      - id: mypy
        name: run mypy for "apigw-manager"
        language: python
        types: [python]
        entry: mypy --config-file=sdks/apigw-manager/pyproject.toml
        files: sdks/apigw-manager/

feat:添加接口，支持通过 name 查询 service_instance
  sdks/paas-service/paas_service/views.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat:添加接口，支持通过 name 查询 service_instance (#149)
  sdks/paas-service/paas_service/urls.py
  sdks/paas-service/paas_service/views.py
  sdks/paas-service/tests/conftest.py
  sdks/paas-service/tests/test_apis.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

feat:添加接口，支持通过 name 查询 service_instance
  sdks/paas-service/CHANGES.md
Due: IP check

docs:changelog (#150)
  sdks/paas-service/CHANGES.md
Due: IP check

Update poetry-build-and-publish.yaml
  .ci/templates/poetry-build-and-publish.yaml
Due: IP check

fix：修改版本号
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/pyproject.toml
  sdks/paas-service/setup.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

fix:修改版本号 (#151)
  sdks/paas-service/paas_service/__init__.py
  sdks/paas-service/pyproject.toml
  sdks/paas-service/setup.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-paas-service

docs: opt apigw-manager doc
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
Due: IP check

docs: opt apigw-manager doc
  readme.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
Due: IP check

docs: fix fmt
  readme.md
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
Due: IP check

docs: fix fmt
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
Due: IP check

docs: fix cr
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
Due: IP check

docs: fix cr
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
Due: IP check

docs: fix cr
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
Due: IP check

docs: opt apigw-manager doc (#152)
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
Due: IP check

doc: opt apigw-manager sdk use doc
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/definition.yaml
  sdks/apigw-manager/examples/django/use-custom-script/support-files/definition.yaml
Due: IP check

doc: fix cr
  sdks/apigw-manager/README.md
Due: IP check

doc: opt apigw-manager sdk use doc (#153)
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/sync-apigateway-with-django.md
  sdks/apigw-manager/docs/sync-apigateway-with-docker.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/definition.yaml
  sdks/apigw-manager/examples/django/use-custom-script/support-files/definition.yaml
Due: IP check

feat: apigw manager add plugin use guide
  sdks/apigw-manager/README.md
  sdks/apigw-manager/docs/plugin-use-guide.md
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-configmap/files/support-files/resources.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/definition.yaml
  sdks/apigw-manager/examples/chart/use-custom-docker-image/my-apigw-manager/support-files/resources.yaml
Due: IP check

fix: fix doc
  sdks/apigw-manager/docs/plugin-use-guide.md
Due: IP check

Add docstring for better_loaddata command
  sdks/blue-krill/blue_krill/models/better_loaddata/management/commands/better_loaddata.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

Add docstring for "better_loaddata" command (#142)
  sdks/blue-krill/blue_krill/models/better_loaddata/management/commands/better_loaddata.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

Improve tests for bkrepo storate(with name), cover more names; Update tox.ini.
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/requirements-tests.txt
  sdks/bk-storages/setup.py
  sdks/bk-storages/tests/test_bkrepo.py
  sdks/bk-storages/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check

Fix ruff format
  pyproject.toml
  sdks/bk-storages/tests/test_bkrepo.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

update: bkapi-component-open 2.1.0
  sdks/bkapi-component-open/CHANGE.md
  sdks/bkapi-component-open/bkapi_component/open/client.py
  sdks/bkapi-component-open/setup.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

update: bkapi-component-open 2.1.0
  sdks/bkapi-component-open/bkapi_component/open/client.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

update: bkapi-component-open 2.1.0
  sdks/bkapi-component-open/CHANGE.md
Due: IP check

update: bkapi-component-open 2.1.0
  sdks/bkapi-component-open/bkapi_component/open/client.pyi
Due: IP check

update: bkapi-component-open 2.1.0 (#157)
  sdks/bkapi-component-open/CHANGE.md
  sdks/bkapi-component-open/bkapi_component/open/client.py
  sdks/bkapi-component-open/bkapi_component/open/client.pyi
  sdks/bkapi-component-open/setup.py
Due: IP check, ruff-check-fix, ruff-format, ruff-check

Improve tests for BkRepoStorage, cover different name type for .save() (#156)
  pyproject.toml
  sdks/bk-storages/pyproject.toml
  sdks/bk-storages/requirements-tests.txt
  sdks/bk-storages/setup.py
  sdks/bk-storages/tests/test_bkrepo.py
  sdks/bk-storages/tox.ini
Due: IP check, ruff-check-fix, ruff-format, ruff-check

Update: Loosen the version restriction on sub-dep `cryptography`
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

(blue-krill 1.2.x) Update: Loosen the version restriction on sub-dep `cryptography` (#158)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

(blue-krill 2.0.x) Update: Loosen the version restriction on sub-dep `cryptography` (#159)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/pyproject.toml
Due: IP check, ruff-check-fix, ruff-format, ruff-check, mypy-blue_krill

chore: upgrade future version
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
Due: IP check

chore: upgrade future version
  sdks/apigw-manager/pyproject.toml
Due: IP check

chore: upgrade future version (#160)
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
Due: IP check
