Repository TencentBlueKing/bkpaas-python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-blue_krill

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run pflake8 --config=pyproject.toml

mypy-blue_krill:
  name: run mypy check for "blue-krill'
  language: system
  pass_filenames: false
  entry: bash -c "cd sdks/blue-krill && poetry run mypy . --config-file=./pyproject.toml"

chore: update comment
  sdks/bkapi-client-core/bkapi_client_core/prometheus.py
Due: isort, black, flake8

docs: update readme
  sdks/bkapi-client-core/README.md
  sdks/bkapi-client-core/poetry.lock
  sdks/bkapi-client-core/pyproject.toml
Due: none

ci: update ci requirements
  sdks/bkapi-client-core/Makefile
  sdks/bkapi-client-core/poetry.lock
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkapi-client-core/requirements.txt
  sdks/bkapi-client-core/requirements_dev.txt
  sdks/bkapi-client-core/requirements_tox.txt
Due: none

docs: update readme
  sdks/bkapi-client-core/README.md
Due: none

test: use request method as label method
  sdks/bkapi-client-core/bkapi_client_core/prometheus.py
  sdks/bkapi-client-core/tests/test_prometheus.py
Due: isort, black, flake8

Bump to 1.2.0
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/pyproject.toml
Due: isort, black, flake8, mypy-blue_krill

Bump to 1.2.0 (#75)
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/pyproject.toml
Due: isort, black, flake8, mypy-blue_krill

use twine to publish
  sdks/blue-krill/Makefile
Due: none

refactor: update version
  sdks/bkapi-client-core/bkapi_client_core/__init__.py
Due: isort, black, flake8

fix: add default_api_name for providers
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/authentication.py
  sdks/apigw-manager/src/apigw_manager/apigw/management/commands/create_version_and_release_apigw.py
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_providers.py
Due: isort, black, flake8

docs: update change log
  sdks/apigw-manager/CHANGE.md
Due: none

refactor: wrap request by CurlRequest in order to improve preformance
  sdks/bkapi-client-core/CHANGE.md
  sdks/bkapi-client-core/Makefile
  sdks/bkapi-client-core/bkapi_client_core/__init__.py
  sdks/bkapi-client-core/bkapi_client_core/client.py
  sdks/bkapi-client-core/bkapi_client_core/utils.py
  sdks/bkapi-client-core/pyproject.toml
  sdks/bkapi-client-core/tests/test_client.py
Due: isort, black, flake8

test: update test
  sdks/bkapi-client-core/tests/test_utils.py
Due: isort, black, flake8

feat(package): update pyjwt to 2.4.0
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: none

test(jwt): fix jwt unittest , the pkg version of pyjwt updated from 1.7.0 to 2.4.0
  sdks/blue-krill/blue_krill/auth/jwt.py
  sdks/blue-krill/tests/auth/test_jwt.py
Due: isort, black, flake8, mypy-blue_krill

fix: fix jwt decode algorithm type
  sdks/apigw-manager/CHANGE.md
  sdks/apigw-manager/pyproject.toml
  sdks/apigw-manager/src/apigw_manager/apigw/providers.py
  sdks/apigw-manager/tests/apigw_manager/apigw/test_providers.py
Due: isort, black, flake8

feat(pyjwt): support 1.x version
  pyproject.toml
  sdks/blue-krill/blue_krill/auth/jwt.py
  sdks/blue-krill/tests/auth/test_jwt.py
Due: isort, black, flake8, mypy-blue_krill

revert(pyproject): revert pyjwt
  pyproject.toml
Due: none

feat(pyjwt): update >=1.7.1
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: none

fix(pyjwt): update
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
Due: none

ci(action): tox
  .github/workflows/blue-krill.yml
  sdks/blue-krill/tox.ini
Due: none

ci(action): tox
  .github/workflows/blue-krill.yml
Due: none

ci(action): tox
  sdks/blue-krill/pyproject.toml
Due: none

ci(test): debug
  .github/workflows/blue-krill.yml
  sdks/blue-krill/pyproject.toml
Due: none

ci(test): debug
  .github/workflows/blue-krill.yml
Due: none

ci(test): debug
  sdks/blue-krill/tox.ini
Due: none

ci(tox): test
  .github/workflows/blue-krill.yml
  sdks/blue-krill/tox.ini
Due: none

ci(test): tox
  .github/workflows/blue-krill.yml
Due: none

ci(test): tox
  sdks/blue-krill/tox.ini
Due: none

ci(tox): test
  sdks/blue-krill/tox.ini
Due: none

feat(package): update pyjwt to 2.4.0 (#79)
  .github/workflows/blue-krill.yml
  sdks/blue-krill/blue_krill/auth/jwt.py
  sdks/blue-krill/poetry.lock
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/auth/test_jwt.py
  sdks/blue-krill/tox.ini
Due: isort, black, flake8, mypy-blue_krill

feature: update blue-krill version to 1.2.1
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/pyproject.toml
Due: isort, black, flake8, mypy-blue_krill

Remove links of BCS-SaaS from README
  readme.md
  readme_en.md
Due: none

feat(blue_krill): add SentinelBackend & RedisSentinelProbe
  sdks/blue-krill/README.md
  sdks/blue-krill/blue_krill/data_types/url.py
  sdks/blue-krill/blue_krill/monitoring/probe/redis.py
  sdks/blue-krill/blue_krill/redis_tools/sentinel.py
  sdks/blue-krill/tests/data_types/test_url.py
  sdks/blue-krill/tests/test_redis_tools.py
Due: isort, black, flake8, mypy-blue_krill

test(blue_krill): add unit test and update docs
  sdks/blue-krill/CHANGE.md
  sdks/blue-krill/README.md
  sdks/blue-krill/blue_krill/__init__.py
  sdks/blue-krill/pyproject.toml
  sdks/blue-krill/tests/test_redis_tools.py
Due: isort, black, flake8, mypy-blue_krill

refactor(blue_krill): resolve review comments
  sdks/blue-krill/blue_krill/data_types/url.py
  sdks/blue-krill/blue_krill/redis_tools/sentinel.py
  sdks/blue-krill/tests/data_types/test_url.py
  sdks/blue-krill/tests/test_redis_tools.py
Due: isort, black, flake8, mypy-blue_krill

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy-blue_krill: any of: ^sdks/blue-krill/ and \.py$
